{% set ref = 'no' %}
{% extends "layout.html" %}
  

{% block title %}Awards{% endblock %}
{% block lead %}Here you can find all the requirements fulfilled by us for the iGEM Awards.{% endblock %}

{% block page_content %}

<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .tg td {
    border-color: #b03b94  ;
    border-style: solid;
    border-width: 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  
  .tg th {
    border-color: #b03b94  ;
    border-style: solid;
    border-width: 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  
  .tg .tg-0lax {
    text-align:center !important;
    vertical-align: top
  }
  .tg-0lax .MathJax {font-size: 1.3em !important; }
  </style>



  <h1> Achievements </h1>
  <hr>
  <center>

  <iframe title="Best Biomanufacturing Project - iGEM 2022 Nominees &amp; Winners" width="660" height="400" src="https://video.igem.org/videos/embed/fdc717e2-706e-4609-9574-fff141ff668b?peertubeLink=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
  <img src="https://static.igem.wiki/teams/4179/wiki/prizes/results.png"  width=80% height=auto class ="imgcenter" >
</center>

</br>
<h1> Medal Criteria</h1>
<hr>
<center>
<img src="https://static.igem.wiki/teams/4179/wiki/medals/bronze.svg"  width="150" height="150" class ="imgcenter" >
<h2> Bronze Medal</h2>
  <table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"><b>Criteria</b></th>
    <th class="tg-0lax"><b>Description</b></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">Competition Deliverables</td>
    <td class="tg-0lax">We have completed the following deliverables: Wiki, Project Promotion Video, Team Presentation, and Judging Form.</td>
  </tr>

  <tr>
    <td class="tg-0lax">Project Attributions</td>
    <td class="tg-0lax">In our <a href="{{ url_for('pages', page='attributions') }}">Attributions wiki page</a> we acknowledged and conveyed our gratitude towards all of those who have helped and supported us throughout this project.</td>
  </tr>

  <tr>
    <td class="tg-0lax">Project Description</td>
    <td class="tg-0lax">Our project description can be seen in the <a href="{{ url_for('pages', page='description') }}">Description page</a>.</td>
  </tr>

  <tr>
    <td class="tg-0lax">Contribution</td>
    <td class="tg-0lax">We contributed to the future iGEM teams in various aspects. We 
      provided several educational tools (escape room, 3D DNA model, lessons), measuring tool (OraCell), as well as 
      new registry parts. Visit our <a href="{{ url_for('pages', page='contribution') }}">Contribution page</a> for more information.</td>
  </tr>



</tbody>
</table>
</center>

<br><br>
<hr>
<br><br>


<center>
  <img src="https://static.igem.wiki/teams/4179/wiki/medals/silver.svg"  width="150" height="150" class ="imgcenter" >
  <h2> Silver Medal</h2>
    <table class="tg">
  <thead>
    <tr>
      <th class="tg-0lax"><b>Criteria</b></th>
      <th class="tg-0lax"><b>Description</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0lax">Engineering Success</td>
      <td class="tg-0lax">Throughout the projects, we achieved several engineering successes, as  detailed on 
        the <a href="{{ url_for('pages', page='engineering') }}">Engineering Success page</a>. Modeling tests have shown a positive correlation
         between the concentration of the desired precursor
        and the endmost enzyme in our synthetic pathway. In conclusion, we have learned that this specific enzyme must be expressed 
        constitutively. To implement this conclusion in our system, we changed our design accordingly. Many other iterations were 
        made based on the engineering cycle to tackle multiple problems in our project. </td>
    </tr>
  
    <tr>
      <td class="tg-0lax">Human Practices</td>
      <td class="tg-0lax">To determine whether our work benefits for the world, we reached different associations and consulted a 
        specialist. We have also reached the patients themselves via an anonymous survey. For more information, check our <a href="{{ url_for('pages', page='human-practices') }}">Human Practices page</a>.</td>
    </tr>
  
    <tr>
      <td class="tg-0lax">Proposed Implementation</td>
      <td class="tg-0lax">To implement our vision into the real world, we came up with different models, discussed future
         considerations and developed tools for future mass production. Check our <a href="{{ url_for('pages', page='implementation') }}">Proposed Implementation page</a> for more information.</td>
    </tr>
  
    <tr>
      <td class="tg-0lax">Collaboration</td>
      <td class="tg-0lax">Our collaboration ranged from meetups, both in person and over video conferencing, podcast episodes, participation
         in our very own designed virtual escape room and utilization of our synthetic biology measurement tool for quantification 
         of their own compound. For more information, visit our <a href="{{ url_for('pages', page='collaborations') }}">Collaboration page</a>. </td>
    </tr>
  
  </tbody>
  </table>
  </center>
	

  <br><br>
  <hr>
  <br><br>
  
  
  <center>
    <img src="https://static.igem.wiki/teams/4179/wiki/medals/gold.svg"  width="150" height="150" class ="imgcenter" >
    <h2> Gold Medal</h2>
      <table class="tg">
    <thead>
      <tr>
        <th class="tg-0lax"><b>Criteria</b></th>
        <th class="tg-0lax"><b>Description</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0lax">Integrated Human Practices</td>
        <td class="tg-0lax">Following the conclusions raised from our human practices, we engaged with various experts 
          from both the industry and the academy to reach the full potential of our project. For further information, visit 
          our <a href="{{ url_for('pages', page='human-practices') }}#integrated">Integrated Human Practices page</a>. </td>
      </tr>
    
      <tr>
        <td class="tg-0lax">Project Modeling</td>
        <td class="tg-0lax">To gain insight into our proposed implementation, as well as to better design our synthetic circuit,
           we developed four different models: diffusion, mutations, fermentation, and kinetics. For more information, check our 
           <a href="{{ url_for('pages', page='model') }}">Modeling page</a>.</td>
      </tr>
    
      <tr>
        <td class="tg-0lax">Proof of Concept</td>
        <td class="tg-0lax">We successfully proved that the enzymes catalyzing our pathway are being expressed in our engineered bacteria.
           Moreover, we proved that decursin is suitable to be a component of cosmetic products as it can penetrate the skin with proper efficiency.
            Check our <a href="{{ url_for('pages', page='proof-of-concept') }}">Proof of Concept page</a> for further information.</td>
      </tr>
    
      <tr>
        <td class="tg-0lax">Education & Communication</td>
        <td class="tg-0lax">We value education highly in our project; thus, we developed different content on different
           platforms to allow as many populations as possible to take part in synthetic biology. For all our work, please 
           visit the <a href="{{ url_for('pages', page='communication') }}">Education & Communication page</a>.</td>
      </tr>
    
  </tbody>
</table>
</center>


      <br><br>
      
     
      
  <h1>Track Awards</h1> 
  <hr>   

  <center> 
    <p>Best Biomanufacturing Project: For the many advantages of decursin, and chemotherapy-induced CIA in particular,
      we are aiming to produce decursin in a synthetic way via bacteria. By using biological systems we can produce 
      decursin on a large scale without the related cons such as pollution, excessive cost, and time consumption. </p>
  
  </center>

  <br><br>
  

  

  <h1>Special Prizes</h1>
  <hr>

  <center>
      <table class="tg">
    <thead>
      <tr>
        <th class="tg-0lax"><b>Criteria</b></th>
        <th class="tg-0lax"><b>Description</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0lax">Best Education</td>
        <td class="tg-0lax">In the post-Covid 19 world, it was important for us to use our educational work to bridge the 
          gap between the virtual and the physical world. This way, we wish to allow free and easy access to education for
           various communities, as education should not be beyond the reach of anyone. Check pur <a href="{{ url_for('pages', page='education') }}">Best Education</a> page.</td>
      </tr>
    
      <tr>
        <td class="tg-0lax">Inclusivity Award</td>
        <td class="tg-0lax">To eliminate barriers and open the field of synthetic biology for other communities, 
          we first investigated the key problems in our society.
          We took upon ourselves the challenge to open doors for three marginalized groups in particular: the 
          local population of low socioeconomic status, war refugees, and students with ADHD and implemented all of 
        it in our education. For more information, visit our <a href="{{ url_for('pages', page='inclusivity') }}">Inclusivity page</a>.</td>
      </tr>
    
      <tr>
        <td class="tg-0lax">Best Integrated Human practices</td>
        <td class="tg-0lax">Approaching partners from the industry and the academy helped us gain insight into many aspects 
          of our project, starting from understanding the purpose and its necessity among cancer patients, through different
           changes in our synthetic biology designs and the development of different analyses and methods for quantification 
           of our metabolites. Check our <a href="{{ url_for('pages', page='human-practices') }}#integrated">Integrated Human Practices</a> page.</td>
      </tr>
    
      <tr>
        <td class="tg-0lax">Best Measurement</td>
        <td class="tg-0lax">The gold standard for  measurements of small molecules is HPLC, a costly, time-consuming, 
          and expertise-requiring method.  This led us to develop our own measurement method, the OraCell. This method is
           based on mammalian cells that underwent stable integration of a plasmid that interfaces with the natural Hippo
            pathway in these cells. Check our <a href="{{ url_for('pages', page='measurement') }}">Measurement page</a> for further information.</td>
      </tr>


      <tr>
        <td class="tg-0lax">Best model</td>
        <td class="tg-0lax">Our team modeled the biomanufacturing system from micro to macro. We worked on multiple models 
          and employed a stacking approach, where the output of one model was used as the input of another. Thus, we were able 
          to optimize the system for large-scale production of our target metabolite - decursin. Check our <a href="{{ url_for('pages', page='model') }}">Model page</a> for further information.</td>
      </tr>
    
  </tbody>
</table>
</center>

{% endblock %}
