{% extends "layout-header.html" %}

{% block title %}Gallery{% endblock %}
{% block lead %}Our year was an amazing journey, here you can find some pictures of our memories and the experiences we had together. Click the images to see the full size!{% endblock %}

{% block page_inner_body %}

<style>
  /* Style the thumbnail images */
  .thumbnail {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    margin: 10px;
  }

  /* Style the full-size image that is displayed when a thumbnail is clicked */
  .full-size {
    width: 60%;
    height: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* Style the container for the full-size image */
  .image-container {
    text-align: center;
    margin: 20px 0;
  }
</style>
<div class="container">
  <div class="image-container">
    <!-- Full-size images -->
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/1.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/2.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/3.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/4.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/5.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/6.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/7.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/8.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/9.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/10.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/11.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/12.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/13.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/14.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/15.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/16.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/17.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/18.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/19.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/20.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/21.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/22.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/23.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/24.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/25.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/26.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/27.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/28.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/29.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/30.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/31.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/32.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/33.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/34.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/35.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/36.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/37.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/38.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/39.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/40.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/41.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/42.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/43.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/44.jpg" class="full-size" style="display: block;">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/45.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/46.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/47.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/48.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/49.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/50.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/51.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/52.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/53.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/54.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/55.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/56.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/57.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/58.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/59.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/60.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/61.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/62.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/63.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/64.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/65.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/66.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/67.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/68.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/69.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/70.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/71.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/72.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/73.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/74.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/75.jpg" class="full-size">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/76.jpg" class="full-size">
  </div>
    <!-- Thumbnail images -->
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/1.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/2.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/3.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/4.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/5.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/6.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/7.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/8.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/9.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/10.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/11.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/12.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/13.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/14.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/15.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/16.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/17.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/18.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/19.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/20.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/21.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/22.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/23.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/24.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/25.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/26.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/27.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/28.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/29.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/30.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/31.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/32.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/33.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/34.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/35.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/36.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/37.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/38.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/39.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/40.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/41.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/42.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/43.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/44.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/45.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/46.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/47.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/48.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/49.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/50.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/51.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/52.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/53.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/54.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/55.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/56.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/57.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/58.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/59.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/60.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/61.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/62.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/63.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/64.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/65.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/66.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/67.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/68.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/69.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/70.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/71.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/72.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/73.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/74.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/75.jpg" class="thumbnail" onclick="displayFullSize(this)">
    <img src="https://static.igem.wiki/teams/4179/wiki/memory-gallery/76.jpg" class="thumbnail" onclick="displayFullSize(this)">
    
    <!-- Full-size image container -->
   
</div>

<!-- JavaScript function to display the full-size image when a thumbnail is clicked -->
<script>
  function displayFullSize(thumbnail) {
    // Get the full-size image container
    var imageContainer = thumbnail.parentNode.querySelector(".image-container");
    // Get the full-size image
    var fullSize = imageContainer.querySelector("img[src='" + thumbnail.src + "']");
    // Display the full-size image
    fullSize.style.display = "block";
    // Hide all other full-size images
    var fullSizes = imageContainer.querySelectorAll(".full-size");
    for (var i = 0; i < fullSizes.length; i++) {
      if (fullSizes[i] != fullSize) {
        fullSizes[i].style.display = "none";
      }
    }
  }
</script>
{% endblock %}
