{% extends "layout-index.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}

<!-- ======= Services Section ======= -->
<style>
  .scrolled a {
    color: rgb(255, 255, 255);
    

  }


 </style>




<section id="services" class="services">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      </br></br>
      <p>Learn more about different parts of our project</p>
    </header>

   

   
<div class="row justify-content-md-center">   
  <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
    <div class="home-btn text-center rounded p-3 py-4" >
      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="{{ url_for('pages', page='description') }}">
        <img src="https://github.com/iitdshashank/igem/blob/main/1icon.png?raw=true" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
        <div class="content mt-3">
            <h4 class="title mb-0">Project</h4>
        </a>
        </div>
    </div>
</div><!--end col-->
    

      
<div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
    <div class="home-btn text-center rounded p-3 py-4" >
      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="{{ url_for('pages', page='results') }}">
        <img src="https://github.com/iitdshashank/igem/blob/main/2icon.png?raw=true" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
        <div class="content mt-3">
            <h4 class="title mb-0">Wet Lab</h4>
        </a>
        </div>
    </div>
</div><!--end col-->


    
<div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
<div class="home-btn text-center rounded p-3 py-4" >
  <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="{{ url_for('pages', page='model') }}">
    <img src="https://github.com/iitdshashank/igem/blob/main/3icon.png?raw=true" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
    <div class="content mt-3">
        <h4 class="title mb-0">Dry Lab</h4>
    </a>
    </div>
</div>
</div><!--end col-->

          

            
                <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
            <div class="home-btn text-center rounded p-3 py-4" >
              <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="{{ url_for('pages', page='human-practices') }}">
                <img src="https://github.com/iitdshashank/igem/blob/main/4icon.png?raw=true" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                <div class="content mt-3">
                    <h4 class="title mb-0">Human Practices</h4>
                </a>
                </div>
            </div>
        </div><!--end col-->
                <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
            <div class="home-btn text-center rounded p-3 py-4" >
              <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="{{ url_for('pages', page='education') }}">
                <img src="https://github.com/iitdshashank/igem/blob/main/5icon.png?raw=true" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                <div class="content mt-3">
                    <h4 class="title mb-0">Education</h4>
                </a>
                </div>
            </div>
        </div><!--end col-->
                <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
            <div class="home-btn text-center rounded p-3 py-4" >
              <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="{{ url_for('pages', page='team') }}">
                <img src="https://github.com/iitdshashank/igem/blob/main/6icon.png?raw=true" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                <div class="content mt-3">
                    <h4 class="title mb-0">Team</h4>
                </a>
                </div>
            </div>
        </div><!--end col-->

         


</section><!-- End Services Section -->



<!-- start of logo slier-->

<div class="container" data-aos="fade-up" data-aos-delay="300">
   <section class="customer-logos slider">
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/bfe-new.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/bme-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/cs-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/vikistudio.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/doron-scientific.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/ornat.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/snapgene-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/tomachi-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/logo-idt.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/color-logo-converted-copy.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/matlab.png"></div>
    <div class="slide centerSponser"><img src=" https://static.igem.wiki/teams/4179/wiki/sponsors/roomescape.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/sigma-aldrich-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/twistbios.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/lse.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/cellbiolab2.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/biorander.png"></div>
   </section>
</div>

<link href="{{ url_for('static', filename='assets/css/sponsor.css') }}" rel="stylesheet">

<script>$(document).ready(function(){
    $('.customer-logos').slick({

      slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});</script>

<script>
  document.addEventListener('DOMContentLoaded', checkScroll);
document.addEventListener('scroll', checkScroll);

function checkScroll() {
    const header = document.querySelector('header');
    if (window.scrollY <= 0) {
        header.classList.add('scrolled');
    } else {
        header.classList.remove('scrolled');
    }
}

</script>


  <!--end of logo slider-->


{% endblock %}
