{% extends "layout.html" %}
  
{% block title %}Dry Lab{% endblock %}
{% block lead %}All the dry Lab results are compiled here.{% endblock %}

{% block page_content %}

<head>
  <title>Styled Numbered Table</title>
  <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2; /* Light gray */
    }

    td:nth-child(1) {
        background-color: #e6f7ff; /* Light blue for the first column */
        /* width: auto; Adjust the width of the numbering column */
    }

    td:nth-child(2) {
        background-color: #ffe6e6; /* Light red for the second column */
    }

    td:nth-child(3) {
        background-color: #e6ffe6; /* Light green for the third column */
    }
  </style>
</head>

<h2>Introduction</h2>
<hr>
<p>In our project, we performed two parts in dry Lab which includes MD simulation of micelle formation and Mathematical modelling of promoter dynamics.</p>
  <!-- <br>On this page, we present the results achieved thus far in each one of them.  </p> -->
  <div class="row justify-content-md-center">   
    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="home-btn text-center rounded p-3 py-3" >
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a  href="#bio">
          <img src="https://static.igem.wiki/teams/4179/wiki/results/biomanufacturing.svg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
          <div class="content mt-3">
              <h5 class="title mb-0">MD simulation of micelle formation</h5>
          </a>
          </div>
      </div>
  </div><!--end col-->
      
  
        
  <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="home-btn text-center rounded p-3 py-3" >
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a  href="#mes">
          <img src="https://static.igem.wiki/teams/4179/wiki/results/measurement.svg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
          <div class="content mt-3">
              <h5 class="title mb-0">Mathematical modelling of promoter dynamics</h5>
          </a>
          </div>
      </div>
  </div><!--end col-->
  <!-- <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
  <div class="home-btn text-center rounded p-3 py-3" >
    <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a  href="#ef">
      <img src="https://static.igem.wiki/teams/4179/wiki/results/efficacy.svg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
      <div class="content mt-3">
          <h5 class="title mb-0">Geometric modelling of micelle</h5>
      </a>
      </div>
  </div>
  </div>end col -->
  <style>.figure-text {text-align:left; font-size: 12px; color: #787277;}</style>
  <h3 id="bio">MD simulation of micelle formation</h3>
  <hr>
  <p>We have simulated the micelle formation by nonionic monorhamnolipid alpha-rhamnopyranosyl-β-hydroxydecanoyl-β-hydroxydecanoate (Rha-C10-C10) with Cu2+ ions and Decane hydrocarbon.
    The simulations were performed on GROMACS 2019.6 and using CHARMM36 Force Field Package.
    Visualisation was done on Visual Molecular Dynamics(VMD), PyMOL and Avogadro.
  </p>

  <p><br></p>
  <h4>Protocol</h4>


<!-- <ol>
  <li>
    The structure of nonionic monorhamnolipid α-rhamnopyranosyl-β-hydroxydecanoyl-β-hydroxydecanoate (Rha-C10-C10) was taken.
  </li>
  <li>
    The PDB file was converted into .mol2 file using UCSF Chimera Software Package
  </li>
  <li>
    Force field files for the Rhamnolipid were generated using the CHARMM Generate Force Field (CGenFF) server. It used charmm36-jul2022.ff for generating the modified force field for the Rhamnolipid.
  </li>
  <li>
    The stream (.str) files generated by CGenFF server are converted into parameter (.prm), topology(.top) and included topology(.itp) using the cgenff_charmm2gmx_py3_nx2.py from  charmm force fields.
  </li>
  <li>
    Using the command gmx insert-molecules, insert 50 molecules into a 70x70x70 Angstrom box.
  </li>
  <li>
    Solvate this box using SPC/E water model in GROMACS by gmx solvate command.
  </li>
  <li>
    Ionise the solvated system using 50 CU2P ions.
  </li>
  <li>
    System was minimised to the point where maximum force applied on any atom was 100 kJ/mol/nm
  </li>
  <li>
    System was equilibrated by NVT ensemble for 2 ns after applying using the V-rescale thermostat with a tau_t of 0.1 and a ref_t of 300K.
  </li>  
</ol> -->


<table>
  <tr>
      <th>Stage</th>
      <th>Metal ion (Cu+2)</th>
      <th>Oil (decane)</th>
  </tr>
  <!-- You can adjust 'n' based on the number of rows you want -->
  <!-- In this example, I've set n=5 -->
  <tr>
      <td>1</td>
      <td>The structure of nonionic monorhamnolipid α-rhamnopyranosyl-β-hydroxydecanoyl-β-hydroxydecanoate (Rha-C10-C10) was taken from the supplementary information section of the paper <sup>1</sup></td>
      <td>The structure of decane was generated using Avogadro <sup>2</sup></td>
  </tr>
  <tr>
      <td>2</td>
      <td>The PDB files were converted into .mol2 files using Avogadro</td>
      <td>The PDB files were converted into .mol2 files using Avogadro</td>
  </tr>
  <tr>
      <td>3</td>
      <td>Force field files were generated using the CHARMM Generate Force Field (CGenFF) server. It used charmm36-jul2022.ff for generating the modified force fields<sup>3</sup></td>
      <td>Force field files were generated using the CHARMM Generate Force Field (CGenFF) server. It used charmm36-jul2022.ff for generating the modified force fields<sup>3</sup></td>
  </tr>
  <tr>
      <td>4</td>
      <td>The stream (.str) files generated by CGenFF server were converted into parameter (.prm), topology(.top) and included topology(.itp) using the cgenff_charmm2gmx_py3_nx2.py from charmm<sup>4</sup></td>
      <td>The stream (.str) files generated by CGenFF server were converted into parameter (.prm), topology(.top) and included topology(.itp) using the cgenff_charmm2gmx_py3_nx2.py from charmm<sup>4</sup></td>
  </tr>
  <tr>
      <td>5</td>
      <td>Using the command gmx insert-molecules, 50 molecules were inserted into a 70x70x70 Angstrom box. The system was solvated using SPC/E Water Model then ionised with 50 CU2P ions.</td>
      <td>For the Decane system, 210 molecules of Rhamnolipid and 90 molecules of Decane were inserted into a 90x90x90 Angstrom box. This was then solvated with the SPC/E Water Model.</td>
  </tr>
  <tr>
    <td>6</td>
    <td>System was minimised to the point where maximum force applied on any atom was 100 kJ/mol/nm.</td>
    <td>System was minimised to the point where maximum force applied on any atom was 100 kJ/mol/nm.</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Restraint Files for the Rhamnolipid were generated and used for equilibration. For equilibration three groups were created (exhaustive), namely, RLIP, Water and CU2P</td>
    <td>Restraint Files for the Rhamnolipid were generated and used for equilibration. For equilibration three groups were created (exhaustive), namely, RLIP, Water and DEC</td>
  </tr> 
  <tr>
    <td>8</td>
    <td>System was equilibrated by NVT ensemble for 2 ns after minimising using the V-rescale thermostat with a tau_t of 0.1 and a ref_t of 300K</td>
    <td>System was equilibrated by NVT ensemble for 2 ns after minimising using the V-rescale thermostat with a tau_t of 0.1 and a ref_t of 300K</td>
  </tr> 
  <tr>
    <td>9</td>
    <td>System was equilibrated by NPT ensemble for 100 ns after NVT equilibration using Nose-Hoover Thermostat(tau_t = 0.5 and ref_t = 300) and Parrinello-Rahman Barostat (tau_p = 5 and ref_p = 1.0).
      <img src="https://static.igem.wiki/teams/4898/wiki/rmsd-ion.png" alt="Description of the image" width="500">
    </td>
    <td>System was equilibrated by NPT ensemble for 100 ns after NVT equilibration using Nose-Hoover Thermostat(tau_t = 0.5 and ref_t = 300) and Parrinello-Rahman Barostat (tau_p = 5 and ref_p = 1.0).
      <img src="https://static.igem.wiki/teams/4898/wiki/rmsd-decane.png" alt="Description of the image" width="500">
    </td>
  </tr> 
  <tr>
    <td>10</td>
    <td>Constraints were removed and after a 5ns production run, the micelle formation was observed and data was collected.
      <iframe width="500" height="350" src="https://www.youtube.com/embed/SCxvZdlufXQ" frameborder="5" allowfullscreen></iframe>
    </td>
    <td>Constraints were removed and after a 5ns production run, the micelle formation was observed and data was collected.
      <iframe width="500" height="350" src="https://www.youtube.com/embed/kjpzIfUtv0Y" frameborder="5" allowfullscreen></iframe>
    </td>
  </tr> 


</table>

<!-- <style>
  #pipeline-video {
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* Place the video behind other content */
    opacity: 0.4; /* Adjust the opacity if needed */
  }
</style> -->
<p><br><br></p>
<h4>Results</h4>
<p>Binding to Cu ions: As seen in the video and a stable RMSD value, we observe that the micelles are formed around the Cu2+ ions hence confirming the hypothesis that the biosurfactant chelates the ions. These ions will then be extracted by reverse micelle extraction process.
P.S. :- The system is contracting and expanding because of insufficient equilibration. But it shows promising results for micelle formation around the ions.
</p><p>
Binding to decane molecule: RMSD and the box video look promising which proves that in-silico test for chelation of oil molecules is successful.
</p>



<h3 id="mes">Mathematical modelling of promoter dynamics</h3><hr>
<h4 id="oraora">Modelling<br><br></h4>
<h5>Promoter dynamics</h5>
<p> <b>Function</b>: The promoter is a region of DNA that initiates the transcription of a particular gene. It serves as a binding site for RNA polymerase, the enzyme responsible for copying the DNA sequence into RNA.
  <br>States</b>: Promoters can exist in different states, typically an active state (on) and an inactive state (off).
  <br><b>Activation and Inactivation</b>:
  P_on represents the concentration of active promoters, where RNA polymerase can bind and initiate transcription.
  P_off represents the concentration of inactive promoters.
  Activation occurs when P_off transitions to P_on, often in response to external signals or stimuli.
  Inactivation occurs when P_on transitions back to P_off<br>
<b>Mathematical representation</b> <br> C : Represents the concentration or activity of the external stimulus.
<br>k_on : Rate constant for promoter activation in the presence of the external stimulus.
<br>k_off : Rate constant for promoter inactivation.
<br>
</p>


<h5>Transcription</h5>
<p>
  <b>Function</b>: Transcription is the process by which RNA polymerase synthesizes a complementary RNA strand from the DNA template. It occurs in the nucleus in eukaryotes and in the cytoplasm in prokaryotes.
  <br>
  <b>Transcription Rate</b>: The rate of transcription (k_transcription) depends on the concentration of active promoters (P_on).
  <br>
  <b>Transcription Inhibition</b>: Transcription is inhibited when promoters are in the inactive state (P_off).
  <br>
  <b>Mathematical representation</b>
  <br>
  k_transcription : Transcription rate constant
  <br>
  k_degrade : Rate constant for mRNA degradation
  <br>
</p>


<h5>Translation</h5>
<p>
  <b>Function</b>: Translation is the process where ribosomes synthesize a polypeptide chain from the mRNA template.
  <br>
  <b>Translation Rate</b>: The rate of translation (k_translation) depends on the concentration of mRNA.
  <br>
  <b>Translation Inhibition</b>: Translation is inhibited when there is no mRNA available.
  <br>
  <b>Biosurf Degradation</b>: The concentration of the biosurf (biosurf) is governed by the rate of translation minus the rate of biosurf degradation.
  <br>
  <b>Mathematical representation</b><br>
  k_translation : Translation rate constant
  <br> 
  k_degrade` : Rate constant for biosurf degradation
  <br>
</p>

<h5>Differential equations</h5>
<p>
  <img src="https://static.igem.wiki/teams/4898/wiki/equations.png" alt="Description of image 1" width="1000" height="300">
  <br><br>
</p>


<h4>Simulation run</h4>

<h5>Intial Parameters</h5>
<p>
  p_off = [1] # promoters in "off" state <br>
  p_on = [0] # promoters in "on" state <br>
  c_inducer = [1] # init conc of inducer <br>
  mRNA = [0] # assuming no mRNA initially <br> 
  protein = [0] # assuming no protein initially <br>
<br>
  # Typical rate constants [SI units] <br>
  k_on = 0.01 <br>
  k_off = 0.01 <br>
  k_transcription = 0.01 <br>
  k_degradation_mRNA = 0.01 <br>
  k_translation = 0.01 <br>
  k_degradation_protein = 0.01 <br>
  <br>
</p>

<h5>Results</h5>
<p>Inducer,  P_on and P_off concentration saturates to 0.63 au in around 20000 au time duration itself. Further, a delayed saturation time is observed for the production of mRNA (which is triggered by P_on) at a time of 50000 au. The biosurfactant produced is triggered by the production of mRNA and reaches its saturation value in around 100000 au of time. The model that we propose, qualitatively matches the real world observations hence the circuit/model is consistent. [Note : saturation refers to around 90% of the conc at t = infinite]</p>

<p>
  The plots of P_on, P_off, C, mRNA, biosurfactant vs time were obtained by numerically solving the differential equations
  <img src="https://static.igem.wiki/teams/4898/wiki/p-on.png" alt="Description of the image" width="500">
  <img src="https://static.igem.wiki/teams/4898/wiki/p-off.png" alt="Description of the image" width="500">
  <img src="https://static.igem.wiki/teams/4898/wiki/c-inducer.png" alt="Description of the image" width="500">
  <img src="https://static.igem.wiki/teams/4898/wiki/mrna.png" alt="Description of the image" width="500">
  <img src="https://static.igem.wiki/teams/4898/wiki/biosurf.png" alt="Description of the image">
  
</p>



<p>

</p>




<!-- NOT FINISHED -->

{% endblock %}
{% block references %}
      
<ol class="reftext"> 
    <li id="ref1">Molecular Dynamics Simulation of the Oil Sequestration Properties of a Nonionic Rhamnolipid (https://pubs.acs.org/doi/full/10.1021/acs.jpcb.7b11959)</li>
    <li id="ref2">Marcus D Hanwell, Donald E Curtis, David C Lonie, Tim Vandermeersch, Eva Zurek and Geoffrey R Hutchison; “Avogadro: An advanced semantic chemical editor, visualisation, and analysis platform” Journal of Cheminformatics 2012 (http://www.jcheminf.com/content/4/1/17)</li>
    <li id="ref3">Automation of the CHARMM General Force Field (CGenFF) I: Bond Perception and Atom Typing (https://pubs.acs.org/doi/10.1021/ci300363c)</li>
    <li id="ref4">Charmm (https://www.charmm.org/archive/charmm/resources/charmm-force-fields/UCSF) </li>
    <li id="ref5">Molecular dynamics simulation of removal of heavy metals with sodium dodecyl sulfate micelle in water (https://www.sciencedirect.com/science/article/pii/S0927775719305965)
    <li id="ref6">Molecular Dynamics Simulations of Ionic Interactions with Dodecyl Sulfate Micelles (https://pubs.acs.org/doi/full/10.1021/jp030914i)</li>
    <li id="ref7">Chimera--a visualization system for exploratory research and analysis Pettersen EF, Goddard TD, Huang CC, Couch GS, Greenblatt DM, Meng EC, Ferrin TE. J Comput Chem. 2004 Oct;25(13):1605-12(https://www.ncbi.nlm.nih.gov/pubmed/15264254)</li>

{% endblock %}


