{% extends "layout.html" %}
  
{% block title %}Outreach{% endblock %}
{% block lead %}In recent years, conventional learning techniques have been replaced by innovative methods that are suitable for the 21st century. With the help of diverse online platforms, we adapted our educational content so that it reaches as many people and of different ages as possible.{% endblock %}

{% block page_content %}

<h2>TikTok</h2>
<hr>
<p>Good educational content is measured by its ability to explain complex topics in a manner that a child in
   elementary school will understand, and a teen in high school will want to hear more of. That is how we envisioned
    our TikTok page. In recent years, the platforms used by young people are gradually changing their purpose. The 
    audience of the changing world consumes short content, usually up to a minute and a half long, and it seems that
     the patience threshold of today's youth has decreased significantly with the rise of various applications such 
     as TikTok, Reels, and Stories.
  <p>For making the most out of today's resources we launched a TikTok page dedicated entirely to synthetic biology. 
    Every few weeks we posted new videos, starting with the basics such as DNA, RNA, proteins, etc.</p>
Making the content accessible conveniently and broadly helped us <b>expose the youth to synthetic biology</b> in a
     straightforward, fascinating, and open way. The videos were filmed in Hebrew and were addressed to the Israeli
      audience who are not well aware of the covered topics and included subtitles in English so teenagers from <b>all 
        over the world</b> could learn from them.</p>

      <p>Our page can be found in the <a href="https://www.tiktok.com/@igemtechnion22" target="_blank"> link.</a></p>

      <img src="https://static.igem.wiki/teams/4179/wiki/education/tiktok.png" width="800" height="350" class="imgcenter">   

 

<br><br>

<h2>Angels Roots Podcast</h2>
<hr>
<p>When we think of education, we often think of traditional teaching methods, in-class settings, or one-on-one structures.
   However, times have changed. We live in a fast-paced world where content consumption has shifted, people nowadays lean 
   toward short and witty content formats. As a way of adapting to these circumstances, we decided to open an <b>educational
    podcast channel</b>, the Angel Roots Podcast. Our target audience was fellow iGEMers, meaning that its content would revolve 
    around the competition in all its aspects, while also being educational.</p>

<p>Each episode features a team or an expert from different countries in the iGEM world, and we discussed that team's project, 
  experiences, and the challenges they faced during their journey. We learned about fascinating subjects from every one of 
  them and conversed about iGEM-related topics, such as <b>human practices, modeling, and team dynamics.</b> </p>
  <p>We also hosted our PI and got an inside scoop about the competition from a PI's standpoint. We learned about what he 
    looks for in students applying for the competition, and according to which criteria he chooses the mentors for the group. 
    The information we received was very important for us to hear, and was relevant also for all teams, mentors of this competition,
     and future iGEM members.
    We finished each episode by asking our guests to provide tips for future iGEMers, regarding team structure, work ethics, 
    and navigation of this massive competition. 
    Listen to Angel Roots Podcast on<a href="https://open.spotify.com/show/10ffNOf6d78yRF0AyQH4r0"> our podcast in Spotify</a>.</p>

    <center>
    <a href="https://open.spotify.com/show/10ffNOf6d78yRF0AyQH4r0" target="_blank">
      <img src=
"https://static.igem.wiki/teams/4179/wiki/collab/whatsapp-image-2022-10-07-at-16-50-45.jpeg" alt="link" style="width:30%" class="imgcener"></a></center>





<br><br>
   <h2>Hebrew and Science</h2>
      <hr>
  <p>Did you know that in the French language, an incomprehensible text is referred to with the phrase
     “C'est de l'hébreu pour moi” which translates to "It's Hebrew for me"?<sup>[<a href="#ref1">1</a>]</sup>.</p>
<p>Even though the Hebrew language is very ancient, it was not spoken in a secular context until the 19th century. This
   led to the fact that many phrases and concepts from the world of science have no translation into Hebrew. As part of 
   <b>our efforts to expose the Israeli public to synthetic biology</b>, we contacted the Hebrew Language Academy - whose purpose 
   is to develop the Hebrew language to offer several possible suggestions for well-known concepts such as a plasmid, synthetic
    biology, nucleotide, chromosome, etc.</p>
<p>The Academy responded to our requests, and we were excited to find out that at these very moments they are working to 
  establish a professional committee that will discuss Hebrew alternatives for what comprises the cell and many of the 
  proposals we brought will be discussed within this committee.</p>
  <center>
  <img src="https://static.igem.wiki/teams/4179/wiki/education/communication/pic-9.png" width="50%"></center>



  <br><br>
  <h2>Radio Interview</h2>
     <hr>
<p>As part of the project, we focused mainly on children and youth out of the belief that shaping young minds is the key to a better future. But as our goal is to make synthetic biology accessible to everyone, and to expose as many people as possible to science, we were invited for an interview on network station B, the leading news and current affairs national station in Israel. </p>
<p>During the interview, we discussed the problems that accompany CIA, the solutions we offer and the synthetic biology behind it, and about the competition.
  During the interview, a fascinating discussion arose about the concept of Startup Nation, as Israel is known for it, and how, despite this, biological innovation still remains in the shadows. 
  </p>

 
 <br><br>
 
 <h2>Social Media</h2><hr>
   <p>Our project was documented all along the way in a variety of social networks and made sure to teach and expose the 
    followers each and every step of the way. Our content contained the wet lab, comprehensive explanations about the project, 
    and a variety of updates about our extensive work over the past months. Our desire was to make available as much knowledge
     as possible using the currently accepted channels.</p>
    <center>
  <img src="https://static.igem.wiki/teams/4179/wiki/hp/gif-last-final-this-one-is-good.gif"></center>

  <br><br>

  <h2>Headstart</h2><hr>
  <p>As part of the project, like many other groups, we had to turn to crowdfunding using <a href="https://headstart.co.il/project/69434" target="_blank"> "Headstart"</a>. We decided to seize
     the opportunity and include educational prizes in the variety of awards. Among the prizes, we offered private lessons in 
     biology, study cards and a poster of bacteria, and a guest lecture by our PI, Professor Roee Amit. We were happy to see 
     at the end of the fundraising a large number of buyers for these unique gifts.</p>

     <br><br>
     <a href="{{ url_for('pages', page='communication') }}#Reach">
      <center><img src="https://static.igem.wiki/teams/4179/wiki/education/return-to-overview.svg" width="30%"></center></a>

     


{% endblock %}



{% block references %}
      
<ol class="reftext"> 
  <li id="ref1">Ullendorff, E. (1968). C'est de l'hebreu pour moi!. Journal of Semitic Studies, 13(1), 125-135.</li></ol>
  
</li>
</a></li>  
</li>


</ol>



{% endblock %}
