{% extends "layout-header.html" %}

{% block title %}Our Team - BioSurf{% endblock %}
{% block lead %}We invite you to meet the amazing individuals behind BioSurf.</br>  {% endblock %}

{% block page_inner_body %}

<!-- For some reas-->
<link href="{{ url_for('static', filename='assets/vendor/bootstrap4/bootstrap.min.css') }}" rel="stylesheet">

<div class="container py-7">
  <div class="text-center">
  
</div>
<img class="center" style="width: 1105px"src="https://static.igem.wiki/teams/4898/wiki/ftp2.jpeg">

  <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img  src="https://static.igem.wiki/teams/4898/wiki/preeti.jpg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Dr. Preeti Srivastava
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Primary investigator
        </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p align="justify">Dr. Preeti Srivastava is a professor at IIT Delhi and the project supervisor for iGEM-IIT Delhi. She has completed her post-doctoral research studies from the National Cancer Institute, Maryland, USA, with her research interests lying in the fields of Molecular Biology and Genetics. Prof. Preeti has guided the team from the start, right from the ideation of the project to its execution. She has been the constant pillar of support through the course of the project and has always provided valuable insights into the experimental workflow and troubleshooting drawn from her experiences.
      </p>
      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://beb.iitd.ac.in/preeti.html">
        <img src="https://static.igem.wiki/teams/4898/wiki/web.jpg" alt="linkedin"  width="25" height="25"   > </a></a>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:preeti@dbeb.iitd.ac.in ">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img  src="https://static.igem.wiki/teams/4898/wiki/sundar.jpg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
       
Dr. D. Sundar 

      </h3>
      <h5 class="my-0 font-weight-normal">
        <em> Secondary investigator</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p align="justify">Dr. D. Sundar is the Institute Chair Professor at IIT Delhi. He has completed his post-doctoral research from John Hopkins University, Maryland, USA, with his research interests lying in the field of Bioinformatics and Computational Biology. Dr. Sundar has conducted extensive research in the fields of genome editing tool designing, biological studies of natural drugs, and metabolic engineering, reporting impactful insights, and accomplishing multiple awards and accolades for the same. Prof. Sundar has always been a stalwart support for the team, helping them out at every step, and helping them tackle obstacles, always guiding the team towards the right path.
    </p>
    <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href=" https://web.iitd.ac.in/~sundar/">
      <img src="https://static.igem.wiki/teams/4898/wiki/web.jpg" alt="linkedin"  width="25" height="25"   > </a></a>
  <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:sundar@dbeb.iitd.ac.in      ">
    <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
</div>
</div>


  
  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img  src="https://static.igem.wiki/teams/4898/wiki/asheemitha.jpg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Asheemita Bagchi
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Instructor</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      
      <p align="justify">
      Asheemita Bagchi is a 4th year Ph.D. student in the Department of Biochemical engineering and Biotechnology, IIT Delhi, under the supervision of our primary mentor, Prof. Preeti Srivastava. The reason she chose to be in academia is her insatiable quest for learning new things. The unique design of this project is what drove her to be a part of such a wonderful group of hard-working people. She loves reading, be it historical fiction, or research articles. An introvert by nature, she is into all sorts of music and books. She is also a trained Odissi dancer.
      </p>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="bez208513@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img  src="https://static.igem.wiki/teams/4898/wiki/aayushi.jpg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Aayushi Agrawal
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Team Leader </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p align="justify">Aayushi is a senior pursuing her Bachelor's in Biochemical Engineering and Biotechnology at IIT Delhi. She has always been fascinated by the vast potential and applicability of SynBio in all spheres of human sustainment. Having worked extensively in wetlab last year, she is the wet lab lead for this year's project and also ideated it. Being the part of iGEM has exposed her to the world of interdisciplinary research and entrepreneurship. Apart from this she enjoys cooking, passionate discussions about absolutely anything that is controversial and fabricating delusional scenarios in her brain.
        </p>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1200002@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img  src="https://static.igem.wiki/teams/4898/wiki/ajai-j.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        J Ajai
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Team Leader </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p align = "justify">Ajai is a final-year biotechnology undergraduate at IIT Delhi. What truly captivates him is the intriguing transformation cells undergo under varying conditions, spurring his enthusiasm for genetic engineering. A staunch advocate for collaborative efforts, Ajai thrives in team environments and cherishes engaging in dialogues on pressing environmental concerns and profound life science theories.He played a pivotal role as a member of the iGEM 2022 team and now as one of the team leaders for the iGEM 2023 team. Beyond the realm of science, Ajai finds solace in observing the wonders of nature, listening to melodies, and indulging in an intriguingly abundant array of apocalyptic and post-apocalyptic series and films.
      </p>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1200021@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>




  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img  src="https://static.igem.wiki/teams/4898/wiki/nischal-g.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Nischal Gupta
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Team Leader</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p>Nischal Gupta is a senior pursuing Bachelor's in Biochemical Engineering and Biotechnology at IIT Delhi. He loves machines, especially self moving machines. Bacterial systems are the best examples of these and that is what got him interested in SynBio and hence, iGEM. He is the dry lab lead for this year's project. Being in iGEM has helped him not only academically but also grow as an individual. Be it getting to collaborate with teams worldwide, collaborating with other academicians or just getting to present his work on big platforms. Apart from this he likes music, astronomy, cycling and coffee.
      </p>

        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1200034@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img  src="https://static.igem.wiki/teams/4898/wiki/sarthak.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Sarthak Chauhan
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Senior</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p justify="true">
      Sarthak is a passionate aficionado of Synthetic Biology. In his free time, I like to lets his imagination roam the realms of SciFi and brainstorm unconventional solutions to problems using biology. His journey with iGEM began whenheI stumbled upon it while perusing LinkedIn profiles of our college's accomplished biotech seniors. The consistent mention of iGEM across several profiles piqued his curiosity, and he knew he wanted in. Joining iGEM was a quest for him to innovate and pioneer technologies scarcely explored in India, and perhaps, ideate solutions that could revolutionize the tech market.
       </p>

       <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1200050@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img  src="https://static.igem.wiki/teams/4898/wiki/snigdha-m.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Snidgha Malhotra
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Senior  </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p align="justify">Snigdha is a fourth year undergraduate student studying Biochemical Engineering and Biotechnology at IIT Delhi. She has been interested in Biology and Genetics since her time at high school. The astonishing ways in which synthetic biology and genetic engineering can be used to make a huge difference to the world fascinates her, and is one of the main reasons for me joining iGEM, IIT Delhi. This year, she is majorly involved in the Human Practices vertical of the club.
      </p>


        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1200057@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img  src="https://static.igem.wiki/teams/4898/wiki/shreyas.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Shreyas Khedekar
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Senior  </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p align="justify">He was always interested in research and lobe genetics and took the branch out of interest. He stumbled upon the club through a friend and fell instantly like a Tetris block fitting in the right place. The team has taught him a lot from time management, about the thinking process that goes into a question, managing a lot of events and making killer presentations with cultured memes. Loved being the part of the team and he hopes the remaining tenure gets even crazier.
      </p>

        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1200054@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img  src="https://static.igem.wiki/teams/4898/wiki/shanthanu.jpg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Shantanu Kartha
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Senior </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p align="justify">Shantanu is a final year B.Tech senior from DBEB. He loves doing hands-on wet lab work and the prospect of doing just that got him interested in iGEM. The most interesting thing about iGEM is how synthetic biology is used here in ingenious ways to solve real world issues and that too conceived completely by students.
      </p>

        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1200052@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>






  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img  src="https://static.igem.wiki/teams/4898/wiki/prashitha.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Prashita Saxena
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Senior</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p align="justify">Prashita is a final year student in Biotechnology. She always had an interest in Synthetic Biology and have loved to carry out experiments and learn about computational Biology stuff. She joined the club to get a deeper access to the realm, and being a part of the team has made this happen.

    </p>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1200038@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>




  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img  src="https://static.igem.wiki/teams/4898/wiki/tuhin.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Tuhin Kumar Raut
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Junior</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p align="justify">He likes to imagine a fictional world. The work of the previous iGEM team really enticed him and his previous love for the subject of Biotechnology motivated him to be a part of the club
        Being a part of a large team has taught him better communication skills and also a lot about deadline, and time management. But it was a very enjoyable and thrilling experience to work on a project to be presented on a global scale.
        </p>

      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1210317@dbeb.iitd.ac.in">
          <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>


<div class="row mb-5">
  <div class="col-md-6 order-md-2">
    <img  src="https://static.igem.wiki/teams/4898/wiki/pratham.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
  </div>
  <div class="col-md-6 flex-valign text-md-right">
    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
      Prathamdeep Dhanoa
    </h3>
    <h5 class="my-0 font-weight-normal">
      <em>Junior</em>
    </h5>
    <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
    <p align="justify">Pratham is a pre-final year student always up for a hearty discussion on genetics, psychology, political philosophy, so long as you keep talking about ideas and not things, you'll have his undivided attention. Academically, his interests lie in epigenetics, systems biology with a bit of molecular dynamics. 
      His journey with iGEM started this year as a coordinator and it has been a smooth and wholesome learning experience so far. He has had tremendous incentive to grow when it comes to interpersonal skills, team management, public speaking, overall it has been an outlet for expressing myself and learning from my seniors and professors. 
  </p>
      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto: bb1210005@dbeb.iitd.ac.in">
        <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-6 text-md-right">
    <img  src="https://static.igem.wiki/teams/4898/wiki/charan.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
  </div>
  <div class="col-md-6 flex-valign">
    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
      Charan
    </h3>
    <h5 class="my-0 font-weight-normal">
      <em>Junior</em>
    </h5>
    <hr class="hr-primary w-70 ml-0 mb-3">
    <p align="justify">Charan is captivated by the incredible potential of synthetic biology and genetic engineering to bring about significant positive changes in the world, and this is one of the motivations behind his membership in iGEM IIT Delhi. 
    </p>

      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1210006@dbeb.iitd.ac.in">
        <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-6 order-md-2">
    <img  src="https://static.igem.wiki/teams/4898/wiki/sparsh.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
  </div>
  <div class="col-md-6 flex-valign text-md-right">
    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
      Sparsh Agrawal
    </h3>
    <h5 class="my-0 font-weight-normal">
      <em>Junior</em>
    </h5>
    <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
    <p align="justify">The idea of solving a real world problem using the path of synthetic biology which really can have a social impact got him interested in the club. The real world application of the project and the challenges faced actually, makes it more fascinating. It is also doing something interesting which is different from regular academic courses and just theory. Working with people as a team is a also a learning. He sees Biology as a subject always intrigues him and the subpart of it which includes editing a gene makes it more exciting and thought-provoking to use it to solve a problem or to treat a disease.
    </p>

      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1210320@dbeb.iitd.ac.in">
        <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-6 text-md-right">
    <img  src="https://static.igem.wiki/teams/4898/wiki/parth.jpg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
  </div>
  <div class="col-md-6 flex-valign">
    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
      Parth Patel
    </h3>
    <h5 class="my-0 font-weight-normal">
      <em>Junior</em>
    </h5>
    <hr class="hr-primary w-70 ml-0 mb-3">
    <p align="justify">Parth is a junior majoring in Computer Science and has a passion for exploring the intersections of computer science with other fields, particularly bioinformatics and physics simulations. His journey into the world of computational biology began during an internship where he worked on a project on live phylogeny. He found myself particularly excited about molecular dynamics simulations and the potential applications of Machine Learning and Deep Learning in medical diagnosis. This ignited his interest in the field and motivated me to join the dry lab team for iGEM.    </p>


      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:cs1210550@cse.iitd.ac.in">
        <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-6 order-md-2">
    <img src="https://static.igem.wiki/teams/4898/wiki/vidya.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
  </div>
  <div class="col-md-6 flex-valign text-md-right">
    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
      Vidyadarshini R
    </h3>
    <h5 class="my-0 font-weight-normal">
      <em>Junior</em>
    </h5>
    <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
    <p align="justify">She’s passionate about synthetic biology, in fact she didn't know the term but in my 12th standard she loved reading about the chapter biotechnology, which was synthetic biology apparently. Being part of iGEM for the last 2 years has allowed her to collaborate, learn, and gain hands-on experience on multiple verticals and on cutting-edge projects. Gave her an opportunity to interact with a lots of experts and allowed me to take decisions for the team. iGEM is a fantastic platform for personal and professional development, and she’s excited to make a positive impact for the project and the team. She expects the legacy from the senior members to endure and shape the team's direction in the upcoming years.
    </p>

      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1210009@dbeb.iitd.ac.in">
        <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-6 text-md-right">
    <img src="https://static.igem.wiki/teams/4898/wiki/kushagra.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
  </div>
  <div class="col-md-6 flex-valign">
    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
      Kushagra Gupta
    </h3>
    <h5 class="my-0 font-weight-normal">
      <em>Junior</em>
    </h5>
    <hr class="hr-primary w-70 ml-0 mb-3">
    <p align="justify">Kushagra has always been passionate about mathematical modelling, graphics and bioinformatics. His journey into iGEM was sparked by his fascination with synthetic biology and bioengineering which have a lot of potential to solve real-life problems. Being a part of the iGEM team has been a great growth experience for him. It has provided him with the chance to expand his knowledge about science and also to apply engineering, in visualising the structure of molecules and reading exciting research papers. He feels that being part of the community opens doors to networking, and enables us in developing and sharing our innovative solutions with a global audience. </p>

     <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:cs5210592@cse.iitd.ac.in">
        <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-6 order-md-2">
    <img src="https://static.igem.wiki/teams/4898/wiki/khushi.jpeg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
  </div>
  <div class="col-md-6 flex-valign text-md-right">
    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
      Khushi Singh
    </h3>
    <h5 class="my-0 font-weight-normal">
      <em>Junior</em>
    </h5>
    <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
    <p align="justify">Khushi has always been fascinated by all things research-y and really enjoyed hands-on lab work. Hence the club seemed to be the perfect place to apply for. HeriGEM journey was an amazing experience as I got to witness first hand the ideation and execution of a research project from scratch and the amount of work that goes into it. Being part of the team taught me a lot and helped me gain the confidence to present her ideas as well as cement my decision to apply for a PhD in life sciences.
    </p>

      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:bb1210332@dbeb.iitd.ac.in">
        <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-6 text-md-right">
    <img src="https://static.igem.wiki/teams/4898/wiki/ravinder.jpg" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
  </div>
  <div class="col-md-6 flex-valign">
    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
      Ravinder Kuhad
    </h3>
    <h5 class="my-0 font-weight-normal">
      <em>Junior</em>
    </h5>
    <hr class="hr-primary w-70 ml-0 mb-3">
    <p align="justify">Ravinder Kuhad is currently in his third year. His passion lies in the world of technology, where he embarked on his journey with web development before delving into the captivating realms of Machine Learning. However, what truly fascinates him is the field of computer vision.
      “My participation in iGEM promises an exciting opportunity to broaden my horizons. I'm eager to gain insights into the biotech industry and explore how it addresses global challenges, whether it's through innovative therapeutics or other cutting-edge biotech solutions."
       </p>


      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto: bb1210008@dbeb.iitd.ac.in">
        <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
  </div>
</div>


<div class="row mb-5">
  <div class="col-md-6 order-md-2">
    <img src="https://static.igem.wiki/teams/4898/wiki/shashank.png" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
  </div>
  <div class="col-md-6 flex-valign text-md-right">
    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
      Shashank Choudhary
    </h3>
    <h5 class="my-0 font-weight-normal">
      <em>Junior</em>
    </h5>
    <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
    <p align="justify">Shashank loves tinkering around with products. The fact that what we study in classroom could be combined with team efforts to build real world applications makes him adore iGEM as a club. The vast application of Biotech from Pharma to Energy is just fascinating and opens up opportunities for interdisciplinary collaborations, such as iGEM. he geeks out startups and watches sitcoms in his free time. Also, he has acted in short films a few times:)
    </p>


      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="bb1210362@dbeb.iitd.ac.in">
        <img src="https://static.igem.wiki/teams/4898/wiki/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
  </div>
</div>
</div>


{% endblock %}
