@import "timeline.css";
@import "cascade.css";
@import "team.css";
@import "default_igem.css";
@import "pages.css";
@import "fonts.css";
@import "home_buttons.css";


html,body {width:100%;height:100%;}

body { 
  background: #ffffff !important;
  font-family:'Open Sans', sans-serif !important;
  margin: 0px;
  overflow-x: hidden; /* Prevent scrollbar */
}

.lead
{
  font-family:'Optima' !important;
  font-weight: bold;
  font-size:24px !important;
  color: #0C3C68;
  text-align: center !important;
}

.my-toc
{
  padding-top: 60px;
  top: 70px;
}

.entry 
{
  background-color: #ffffff !important;
}

.logo 
{
    max-width: 100%;
    width: 40%;
    height: 40% 
}

.group-photo {max-width: 90%;}

.foot-icons{width: 35px;}

.navbar-brand
{
  display: inline-block;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  width: 80px;
  padding-right: 50px;
}

.bottomRef{
  position: fixed;
  bottom: 0;
}

.reftext {font-size: 13px;}


.rowheader {
  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  background-color: white;
  }

.footerspace {margin-right: 5px;}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: flex !important;
  align-items: center !important;
  margin-left: auto !important;
  margin-right: auto;
}

.justify { text-align: justify;
  text-justify: inter-word;}

 
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6
{
  padding-top: 100px;
  margin-top: -100px;
  font-family:'Optima' !important;
  font-weight: normal;
}

/* Disable this fix for the timeline in HP page */
.js-cd-timeline h1,
.js-cd-timeline h2,
.js-cd-timeline h3,
.js-cd-timeline h4,
.js-cd-timeline h5,
.js-cd-timeline h6
{
  padding-top: 0px;
  margin-top:  0px;
  font-family:'Optima' !important;
  font-weight: normal;
}


.page-content p
{
  text-align: justify;
	text-justify: inter-word;
  line-height: 150%;
}
	
.slick-track{
	display: flex; align-items:center; }

#multi-bg{
    height: 100%;
    display: block;
    background-image:
            url("https://static.igem.wiki/teams/4179/wiki/home-page/website-backgroung.svg");
    background-size: 100%;
    background-position:center ;
    background-repeat: no-repeat;   
}

.graphic-abstract
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
}

.victoryimage
{
  display: block;
  position: relative;
  border: solid 3px #0C3C68;
  padding: 3px 3px;
  max-width: 800px;
  font-size: 17px;
  line-height: 28px;
  transform: rotate(-3deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
}

.victoryimage:hover {
  transform: translateY(-10px) rotate(5deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.victoryimage:hover .border {
  transform: translateY(4px) rotate(-5deg);
}

.prizes-list
{
  font-family:'Optima' !important;
}

.prizes-list>li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.prizes-list img {
  width: 32px;
  height: auto;
  margin-right: 5px;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

/*footer*/

.contact-info {
  background-color: #0C3C68 ;
  
}

.contact-info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.9em 1em;

}

.boxfooter {
  width: 50%;
  text-align: justify;
}

.boxfooter h3 {
  font-size: 1em;
  padding: 0em;
  color: white;
}

.boxfooter p{
  color: white;
  font-size: 0.7em;
  padding: 0em;
}

.social-media-icons {
  padding: 0 0.3em ;
  font-size: 3em;
}

.social-media-icons a, .social-media-icons a:active, .social-media-icons a:visited, .box a, .box a:active, .box a:visited{
  color: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.social-media-icons a:hover,  .box a:hover{
  color: #602351 ;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.app-game
{
  padding-top: 100px;
  padding-bottom: 50px;
}
.figure-text {font-size: 11px; color: #787277; padding-bottom: 15px;
  text-align: justify !important;
  text-align-last: center;
  max-width:70%;
  word-wrap:break-word;
  margin-left: auto;
  margin-right: auto;
}
.figure-text p {font-size: 11px; color: #787277; padding-bottom: 15px;
  text-align: justify !important;
  text-align-last: center;
  max-width:70%;
  word-wrap:break-word;
  margin-left: auto;
  margin-right: auto;}

/* Styles used on education page */
.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.columnimg {
    float: left;
    width: 33.33%;
    padding: 0px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.modal-content 
{
    background: #F5E3F1;
}

.sticky-top /* TOC behind navbar */
{
  z-index: 0 !important;
}

.page-host {
  padding-left: 2% !important;
  padding-right: 2% !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c470b0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c470b0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

