{% set ref = 'no' %}

{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}This page is dedicated to everyone who assisted us in our long and challenging journey. Our team is
 tremendously grateful and humbled by the consistent aid and guidance we received throughout our project, from our advisors, 
 mentors, PI and community. Additionally, we would like to thank the iGEM community for always being there to help in 
 any- and every way, this competition is truly a great example of what collaborative efforts can achieve. {% endblock %}

{% block page_content %}

<style>
  h3, .h3 {
  font-size: 1.3em;
}
</style>

<!--
  ======================================================================
  == VERY IMPORTANT                                                   ==
  ======================================================================
  LEAVE THE IFRAME CODE BELOW AS IT IS, THE ATTRIBUTION FORM OF YOUR TEAM
  WILL BE DISPLAYED ON THIS PAGE. DO NOT REMOVE IT, OTHERWISE YOU RISK OF
  NOT MEETING BRONZE MEDAL CRITERION #2
 -->
 <div class="row justify-content-center">
  <div class="col-md-10 col-sm-11">
    <script type="text/javascript">
      // Listen to size change and update form height
      window.addEventListener("message", function (e) {
        const { type, data } = JSON.parse(e.data);
        if (type === "igem-attribution-form") {
          const element = document.getElementById("igem-attribution-form");
          element.style.height = data + 50 + "px";
        }
      });
    </script>
    <iframe
      style="width: 100%"
      id="igem-attribution-form"
      src="https://attributions.igem.org?team=iit-delhi&year=2023"
    >
    </iframe>
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
  </div>
</div>

<link href="{{ url_for('static', filename='assets/css/sponsor.css') }}" rel="stylesheet">

<script>$(document).ready(function(){
    $('.customer-logos').slick({

      slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});</script>


  <!--end of logo slider-->


{% endblock %}
