{% extends "layout.html" %}
  
{% block title %}Education & Communication {% endblock %}
{% block lead %}One of the values that accompanied us during the entire project is education. We aimed to reach as many populations as possible from a variety of ages and backgrounds, in a variety of different platforms and learning methods. Whether it is virtual or actual content, our mission was to successfully interest people in synthetic biology and expose more audiences to science.{% endblock %}

{% block page_content %}

<link href="{{ url_for('static', filename='assets/css/fontawesome/css/all.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='book.css') }}" rel="stylesheet">

<h2>Overview</h2>
<hr>
<p>The post Covid-19 world is forced to <b>face new problems and provide solutions</b> that are compatible with the 21st
    century. Work and education around the world have moved to an online format and even after the pandemic, the world is
    starting to adopt the technological methods that were developed during quarantines.</p>
<p>
    We valued education very highly in our project and wanted to <b>leave a lasting impact</b> on future generations and
    the synthetic biology community by trying to bridge the gap between the virtual and physical world. We believe it
    is <b>our responsibility</b> to allow <b>everyone everywhere</b> to learn about synthetic biology without neglecting the human
    personal aspect.
</p>

<p>In Israel, synthetic biology is not as common as other biological fields. In fact, elementary schools and high schools
    often don't even mention it in their curriculum<sup>[<a href="#ref1">1</a>]</sup>.<br> Our team wanted to seize the
    opportunity and introduce the field to the Israeli population regardless of age, religion, gender, and socioeconomic
    background.
</p>

<p>
    The general goal that guided us throughout was accessibility; for us, education is the most important tool for
     providing a better future and it shouldn't be beyond the reach of anyone. That's why all our education programs 
     are done on platforms that are <b>accessible to a variety of populations</b>.</p>
    

<br>
<br>
<br>
<hr>
<br>
<br>

<body>  
    <div class="container text-break">
      <div class="row ">
        <div class="col ">
            <h2 id="escape">Virtual escape room</h2>
            <p>We are proud to report <b>over 600 students from 30 high schools</b> all over the country have taken part
                in our virtual escape room, and many more teachers still approach us to have this lesson in their
                 classes. Our goal is not only to introduce the students to the world of synthetic biology but also
                  to inspire them to further study it in the future. </p>
             
             <center><a href="{{ url_for('pages', page='escape-room') }}">
              <img src="https://static.igem.wiki/teams/4179/wiki/education/read-more.svg" width="40%" ></a></center></div>

               
       
        <div class="col-6">
            <img src ="https://static.igem.wiki/teams/4179/wiki/education/bacteria-3.svg" width="100%"><br>
         
        </div>







        <div class="row" style="padding-top: 100px;">
            <div class="col ">
                <img src ="https://static.igem.wiki/teams/4179/wiki/education/bacteria-4.svg" width="100%"><br>
                
              </div>
              <div class="col-6">
               <h2 id="book">Children's Book</h2>
               <p>To approach a younger audience, we wrote a children's book in both English and Hebrew to explain the science 
            behind synthetic biology in a simplified manner. The book targeted children of ages three to six and introduces 
            Olly, an <I>E. coli</I> bacterium who gets to know synthetic biology from a personal experience.
        
            </p>
              
            <center><a href="{{ url_for('pages', page='children-book') }}">
                <img src="https://static.igem.wiki/teams/4179/wiki/education/read-more.svg" width="40%"></a></center></div>
   

        </div>





        <div class="row" style="padding-top: 100px;">
            <div class="col ">
               <h2 id="App">Application</h2>
               <p>“Play-based learning” as the name suggests, is a teaching method based on games. The method has been proven to 
                develop cognitive abilities and encourages greater interest in the subject being taught<sup>[<a href="#ref2">2</a>]</sup>.</p>
                <p>As part of our desire to <b>expose children to synthetic biology</b>, we created a free app that demonstrates the
                     fundamentals of synthetic biology and genetic engineering through a three-stage game.</p>
                     <p>The game opens with the mysterious disappearance of a wise scientist, who left his entire work behind.
                         The goal of the game is to complete the steps and produce genetically modified bacteria that can change 
                         colors, glow, double their size, and digest plastic.</p>
                         <p>The principles learned in the game include assembling inserts (while teaching the concepts of a promoter, 
                            gene, and terminator), cutting plasmids with appropriate restriction enzymes, finding amino acids for
                             protein expression, and inserting the plasmids into the target bacteria.</p>
                    <p>Throughout the game, there are pop-ups of fun facts that teach the player about the actions he takes and 
                        their biological importance, in that way the game is <b>both entertaining and educational.</b></p>
                        <a href="{{ url_for('pages', page='app') }}">
                            <center><img src="https://static.igem.wiki/teams/4179/wiki/education/click-here.svg" width="60%"></center></a>
              </div>
              <div class="col-6">
               <img src ="https://static.igem.wiki/teams/4179/wiki/education/bacteria1.svg" width="100%"><br>
               
              </div>
             
        </div>


        <div class="row" style="padding-top: 100px;">
            <div class="col ">
                <img src ="https://static.igem.wiki/teams/4179/wiki/education/bacteria-2.svg" width="100%"><br>
                
              </div>
              <div class="col-6">
               <h2 id="Edu">Education Workshops<h2>
               <h3>Children's Workshop</h3>
               <p>To make the complex contents of biology <b>accessible in a way that will be interesting and understandable</b>
                for children, we created a workshop that explains the basics of biology and DNA in a fun and clear way.
                As we envisioned not only to educate but also to make a difference, we carried out the workshop for refugees
                 from Ukraine<sup>[<a href="#ref2">2</a>]</sup>.</p>
                 <h3>Teen's Workshop</h3>
                 <p>We developed a workshop meant for biology high school students. In this workshop, we gave an overview of what
                     we see as the building blocks needed for understanding synthetic biology. We talked about the central dogma 
                     in biology, classic biotechnology, and genetic regulation.</p>
                <h3>3D DNA Puzzle</h3>
                <p>In order to make education accessible in as many places as possible in the world, we created a 3D puzzle of DNA that
                can be assembled and disassembled. The puzzle files can be downloaded from anywhere and printed on a 3D printer.</p>
                <a href="{{ url_for('pages', page='educationworkshops') }}">
                    <center><img src="https://static.igem.wiki/teams/4179/wiki/education/read-more.svg" width="40%"></center></a>
              </div>

        </div>


        
        <div class="row" style="padding-top: 100px;">
            <div class="col ">
                <h2 id="Reach">Outreach</h2>
                <h3>TikTok</h3>
                <p>As part of our effort to make science accessible to today's youth, we opened a TikTok page dedicated
                     entirely to educational content that explains the world of biology in a factual, short, and fascinating way.</p>
                <h3>Hebrew and Science</h3>
                <p>How do you say apoptosis in Hebrew? Well, you don't.
                    Since there are many concepts in the scientific language that do not have a Hebrew translation, we took 
                    the matters into our own hands and turned to the Hebrew Language Academy.
                    </p>
                <h3>Podcast</h3>
                <p>In every episode, we hosted a new iGEM team from all around the world. Our target audience was fellow iGEMers, 
                    and its content revolved around the competition in all its aspects, while also being educational.  </p>
                <h3>Radio Interview</h3>
                <p>In order to continue to spread as much information as possible about synthetic biology and our project, we were interviewed 
                    on Network B station, the leading news and current affairs station in Israel.</p>
                   
                 <h3>Social Media</h3>
                 <p>We documented our work and project on a variety of different platforms - Instagram, Facebook and Twitter.</p>
                 <h3>Headstart</h3>
                 <p>During our crowdfunding, we decided to seize the opportunity and offer educational content in addition to the other gifts. </p>
                 <a href="{{ url_for('pages', page='outreach') }}">
                    <center><img src="https://static.igem.wiki/teams/4179/wiki/education/read-more.svg" width="40%"></center></a>
                
              </div>

              <div class="col-6">
                <img src ="https://static.igem.wiki/teams/4179/wiki/education/bacteria-5.svg" width="100%"><br>
              

        </div>




    




{% endblock %}
{% block references %}
      
<ol class="reftext"> 
    <li id="ref1">Curriculum for biology advanced study <a href="https://edu.gov.il/special/Curriculum/High-School/biology/Pages/Syllabus.aspx "> https://edu.gov.il/special/Curriculum/High-School/biology/Pages/Syllabus.aspx </a></li> 
    <li id="ref2">Rieber, L. P. (1996). Seriously considering play: Designing interactive learning environments based on the blending of microworlds, simulations, and games. Educational technology research and development, 44(2), 43-58.</li>
    <li id="ref3">Kumar ,NK. (2022, August 25). Statistics: How many Ukrainian refugees did Israel accept in six months?. Website. <a href="https://thetimeshub.in/statistics-how-many-ukrainian-refugees-did-israel-accept-in-six-months/31872/>"> https://thetimeshub.in/statistics-how-many-ukrainian-refugees-did-israel-accept-in-six-months/31872/></a>
    </li>
   
{% endblock %}






