{% extends "layout.html" %}
  
{% block title %}Description{% endblock %}
{% block lead %} iGEM-IIT-Delhi page for project description.


{% endblock %}
{% block page_content %} 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JSON Animation Example</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.14/lottie.min.js"></script>
</head>
<h2>Motivation</h2>
<p>Heavy metals are a growing matter of concern with their ill-effects becoming more apparent than ever. These metals enter water bodies through various channels, including mining and smelting activities, sewage and industrial waste discharge, and disproportionate use of chemical fertilisers and pesticides. Once in water bodies, heavy metals hinder the growth and development of aquatic life, disrupt reproductive processes, and can even be fatal. They can also contaminate the soil and groundwater, directly being consumed by us.       
</p>
<img src="https://github.com/iitdshashank/igem/blob/main/des2.jpeg?raw=true" width="500px" alt=""><br>
<!-- <img src="https://static.igem.wiki/teams/4898/wiki/des2.jpeg" width="500px" alt=""><br> -->


<p>  Through Biomagnification, they get accumulated in the higher trophic levels to degrees that can prove to be highly toxic for species higher up in the food chain, especially humans. The adverse effects of heavy metals on human health include, but are not limited to, impaired cognition, neurological disorders, developmental issues and various diseases affecting the kidneys, lungs, bones, and cardiovascular system. For instance, lead exposure alone was estimated by the Institute of Health Metrics (IHME) in 2019 to be responsible for 62.5% of developmental intellectual disability, 8.2% of hypertensive heart disease, and 5.65% of stroke cases globally[1]. Furthermore, heavy metals increase the risk of cancer.  These metals are categorised as priority elements in public health studies due to their systemic toxicity, causing damage to multiple organs even at lower levels. Moreover, they have been classified as carcinogens by the International Agency for Research on Cancer (IARC)[2]. 
</p>

<img src="https://github.com/iitdshashank/igem/blob/main/des3.jpeg?raw=true" width="500px" alt="">
<!-- <img src="https://static.igem.wiki/teams/4898/wiki/des3.jpeg" width="500px" alt=""> -->
<p>
  The textile industry, automobile parts industry are the primary contributors of heavy metal contamination, accounting for 75% of the whole pollution in Yamuna, a major Indian river and the primary source of water for 57 million people in India and the whole of Delhi[3]. 
  These statistics highlight the severity of the situation and underline the urgency for change.
  Last year, iGEM team IIT Delhi had set out to solve the problem of lead poisoning, lead being one of the  major polluters in heavy metals, our project ‘LEAD-er’ set out to solve this issue where we tackled the issue of Lead Poisoning in water bodies[4]. This year, we wish to expand on our previous accomplishments and develop a solution that is viable for all heavy metals, much more accessible and commercially viable. 
  </p>
  <div id="lottie-animation6"></div>


<h2>Our solution</h2>
<p>BioSURF contributes towards solving the challenges of heavy metal bioremediation by addressing two needs - Producing biosurfactants alternatively by using SynBiology methods, and using biologically derived biosurfactants as a method for employing bioremediation to solve the issue of heavy metal toxicity and its removal from water bodies.</p>
<h3>Why biosurfactant?</h3>
<p>
  We decided to approach this issue through the application of Biosurfacants, a class of biodegradable amphiphilic molecules that can act as micelle forming chemicals that can help in the further precipitation of such heavy metals, thus achieving bioremediation of such pollutants from water bodies and wastewater[5]. For our purposes, we chose Alasan and Rhamnolipid as our biosurfactants of choice. The advantages of using biosurfactants over inorganic surfactants is that they are non-toxic and biodegradable and therefore, don’t harm the ecology of the environment in which they are applied[6].
</p>
<img src="https://github.com/iitdshashank/igem/blob/main/des1.jpeg?raw=true" width="500px" alt=""><br>
<!--<img src="https://static.igem.wiki/teams/4898/wiki/des1.jpeg" width="500px" alt=""><br>-->

<br>
<h3>Using recombinant E. coli. </h3>
<p>
  Currently, the methods of production of such chemicals from their natural microbial sources poses some problems:
<ul>
  <li>Pathogenicity of the source microbe is a great safety concern.</li>
  <li>Takes longer time to reach the product-forming stationary stage.</li>
  <li>Lower yields are generally expected.</li>
    <li>Through incorporating a promoter gene, we have better control over the production of the biosurfactant.</li>
      <li>Introducing a bi-directional switch makes it possible to produce both Alasan and Rhamnolipid from one microbial source simultaneously. Combining this feature with the use of promoter genes makes it possible to selectively produce the biosurfactant better suited for a specific application.</li>
  </ul>

Thus, we decided to produce Alasan and Rhamnolipid through bi-directionally recombinant E. coli . Growing the biosurfactants this way wards off all the challenges described above. Building on our previous project, we have decided to target all heavy metals. Our project this year involves no contact of the recombinant organism with the environment as the biosurfactant product formed can be extracted and used for application elsewhere, thus ensuring safety and feasibility.
<div id="lottie-animation4"></div>

</p>

<script>
  var animation = lottie.loadAnimation({
        container: document.getElementById('lottie-animation4'), // the DOM element that will contain the animation
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://static.igem.wiki/teams/4898/wiki/inside-cell3.json' // the path to the animation JSON file
    });
    var animation = lottie.loadAnimation({
        container: document.getElementById('lottie-animation5'), // the DOM element that will contain the animation
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://static.igem.wiki/teams/4898/wiki/loader-new.json' // the path to the animation JSON file
    });
    var animation = lottie.loadAnimation({
        container: document.getElementById('lottie-animation6'), // the DOM element that will contain the animation
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://static.igem.wiki/teams/4898/wiki/micelle.json' // the path to the animation JSON file
    });
</script>

{% endblock %}


{% block references %}
      
<ol class="reftext"> 
    <li id="ref1">Ana Navas-Acien, Eliseo Guallar, Ellen K. Silbergeld, and Stephen J. Rothenberg(2007). Lead Exposure and Cardiovascular Disease—A Systematic Review. Environmental Health Perspectives, Vol. 115 No. https://doi.org/10.1289/ehp.9785</li>
    <li id="ref2">Kim, H. S., Kim, Y. J., & Seo, Y. R. (2015). An Overview of Carcinogenic Heavy Metal: Molecular Toxicity Mechanism and Prevention. Journal of Cancer Prevention, 20(4), 232-240. https://doi.org/10.15430/JCP.2015.20.4.232</li>
    <li id="ref3">Velusamy, S., Roy, A., Sundaram, S., & Mallick, T. K. (2021). A Review on Heavy Metal Ions and Containing Dyes Removal Through Graphene Oxide-Based Adsorption Strategies for Textile Wastewater Treatment. The Chemical Record, 21(7), 1570-1610. https://doi.org/10.1002/tcr.202000153</li>
    <li id="ref4">iGEM IITD - 2022 Wiki, 'LEAD-er - led with no lead'. https://2022.igem.wiki/iit-delhi/</li>
    <li id="ref5">Karlapudi, A. P., Venkateswarulu, T., Tammineedi, J., Kanumuri, L., Ravuru, B. K., Dirisala, V. R., & Kodali, V. P. (2018). Role of biosurfactants in bioremediation of oil pollution-a review. Petroleum, 4(3), 241-249. https://doi.org/10.1016/j.petlm.2018.03.007</li>
    <li id="ref6">Wang, S., & Mulligan, C. N. (2009). Rhamnolipid biosurfactant-enhanced soil flushing for the removal of arsenic and heavy metals from mine tailings. Process Biochemistry, 44(3), 296-301. https://doi.org/10.1016/j.procbio.2008.11.006</li>

{% endblock %}