{% extends "layout.html" %}
  
{% block title %}Education Workshops{% endblock %}
{% block lead %}Along with the virtual advantages, it is important for us not to neglect the personal aspect of education. By writing diverse lesson plans, visiting schools, and engaging with students we tried to provide a personal response to each and every one.{% endblock %}

{% block page_content %}
<link href="{{ url_for('static', filename='assets/css/fontawesome/css/all.css') }}" rel="stylesheet" />


<h2>3D DNA puzzle</h2>
<hr>

<p>Play-based learning is a significant tool in the education world. Therefore, we created a three-dimensional
  puzzle of a DNA helix, which allows one to assemble and connect the different bases between the two strands. The puzzle
  comes with four parts simulating the bases, and there are only two matching pairs. This simulates the principle according
  to which A pairs with T and G pairs with C. The most important aspect of
  the puzzle is that it was designed in SolidWorks software, meaning - it is suitable for every home 3D printer and
  <b>anyone around the world</b> can download the files and print the model. This makes it <b>accessible and easy to use.</b></p>

</p>
<p> go to our <a href="{{ url_for('pages', page='contribution') }}#3d">Contribution </a>page to download it and try yourself
  !</p> 

<img src="https://static.igem.wiki/teams/4179/wiki/education/communication/picture-3.png" width="600" height="500" class="imgcenter">        
<br><br>

<h2>Teen's Workshop</h2>
<hr>
<p><I>“Gee, Brain. What are we going to do tonight?”<br>
  “The same thing we do every night, Pinky. Try to <u><b>SAVE</b></u> the world.”</I>
  </p>

<p>We strongly believe that as a community <b>we must aspire to nurture the next generation of scientists.</b> We developed a
   workshop meant for biology high school students. In this workshop, we gave an overview of what we see as the building
    blocks needed for understanding synthetic biology. We talked about the central dogma in biology, classic biotechnology, 
    and genetic regulation.
  To really pique the students' interests, we thought of several challenges the human race is currently facing. Namely,
   endangered species, pollution, viral epidemics, overpopulation, life in space, and several others. We challenged the 
   students to <b>use the knowledge we provided to think of possible solutions.</b> We encouraged them <b>to be as creative as they
    could</b> and allowed them to search online to get more information.
  </p>
<p>Each group of students then presented their idea to the rest of the class. The students were highly motivated to
  share their fascinating ideas, including finding a specific strain of bacteria that can bio-degrade plastic.<br>
  Overall,  the engagement level of the students and their excitement about synthetic biology made us believe the 
  future looks bright with those minds at the helm. We're looking forward to seeing them in iGEM 2030! 
  </p>

  <center>
           
    <table class="tg">
  <thead>
    <tr>
      <th class="tg-0lax"><img src="https://static.igem.wiki/teams/4179/wiki/education/teens-workshop/20220911-080413.jpg" width="410" height="270" class="imgcenter"></th>
      
      <th class="tg-0lax"><img src="https://static.igem.wiki/teams/4179/wiki/education/teens-workshop/whatsapp-image-2022-09-13-at-9-54-20-am.jpeg" width="410" height="270" class="imgcenter"></th>
    </tr>
  </thead>
  </table>
  </center>

<!-- 
  <img src="https://static.igem.wiki/teams/4179/wiki/education/teens-workshop/20220911-080413.jpg">
<img src="https://static.igem.wiki/teams/4179/wiki/education/teens-workshop/whatsapp-image-2022-09-13-at-9-54-18-am-1.jpeg">
<img src="https://static.igem.wiki/teams/4179/wiki/education/teens-workshop/whatsapp-image-2022-09-13-at-9-54-20-am.jpeg">
-->

<h3 id="workshop">Workshop lesson plan</h3></br>
<div class="col-md-offset-6 col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading1">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                      Hebrew Presentation
                  </a>
              </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                <div class="panel-body">
                    <embed src="https://static.igem.wiki/teams/4179/wiki/contribution/hebrew-teen-pre.pdf" width="800px" height="1200px"
                    />
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading2">
                <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    Hebrew Lesson Plan
                </a>
            </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                <div class="panel-body">
                    <embed src="https://static.igem.wiki/teams/4179/wiki/contribution/hebrew-teen-pdf.pdf" width="800px" height="1200px"
                    />
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading3">
                <h3 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  English Presentation
              </a>
          </h3>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body">
                    <embed src="https://static.igem.wiki/teams/4179/wiki/contribution/english-presentation-1.pdf" width="800px" height="1200px"
                    />
                </div>
            </div>
        </div>



        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
              <h3 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  English Lesson Plan
              </a>
          </h3>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
              <div class="panel-body">
                  <embed src="https://static.igem.wiki/teams/4179/wiki/contribution/english-teen.pdf" width="800px" height="1200px"
                  />
              </div>
          </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
            <h3 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
              Russian Presentation
          </a>
      </h3>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
            <div class="panel-body">
                <embed src="https://static.igem.wiki/teams/4179/wiki/contribution/russian-presentation-1.pdf" width="800px" height="1200px"
                />
            </div>
        </div>
    </div>



    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading6">
          <h3 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
              Russian Lesson Plan
          </a>
      </h3>
      </div>
      <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
          <div class="panel-body">
              <embed src="https://static.igem.wiki/teams/4179/wiki/contribution/russian-teen-pdf.pdf" width="800px" height="1200px"
              />
          </div>
      </div>
  </div>



      <br><br>






  <h2>Children's Workshop</h2>
  <hr>
<p><I>“Children must be taught how to think, not what to think.” -Margaret Mead.</I></p>
<br>
<p>To make the complex contents of biology <b>accessible in a way that will be interesting and understandable for children</b>,
   we created a workshop that explains the basics of biology and DNA in a fun and clear way.</p>
<p>The activity is suitable for ages 10-13 and includes several games and experiments that encourage critical thinking and
   demonstrate the basics of DNA in a children-friendly way. As soon as we created the workshop, we looked for the right 
   target audience and realized that we have the power and the will to do more.<br>
  Beginning on February 22, the war in Ukraine has given rise to thousands of refugees who have found themselves in foreign
   lands. As of today, Israel has taken in over 30,000 immigrants and refugees from Ukraine following the war<sup>[<a href="#ref1">1</a>]</sup>.
    We approached one of the aid centers for refugees from Ukraine, located in the city of Haifa, and offered 
    to deliver the workshop we created to the children. Our request was answered positively and on September 22nd
     we gave a lesson to a group of children in the Russian language. The children cooperated, answered questions,
      and raised interesting discussions that left even us intrigued. Feedback from parents was positive as well, 
      with parents stating they have learned much themselves.
  The workshop is available in four languages: Hebrew, Arabic, Russian and English.
  </p>

  <h3>Workshop lesson plan</h3></br>
        <div class="col-md-offset-6 col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading7">
                        <h3 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                              Hebrew 
                          </a>
                      </h3>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading7">
                        <div class="panel-body">
                            <embed src="https://static.igem.wiki/teams/4179/wiki/education/communication/hebrew.pdf" width="800px" height="1200px"
                            />
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading8">
                        <h3 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            English
                        </a>
                    </h3>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                        <div class="panel-body">
                            <embed src="https://static.igem.wiki/teams/4179/wiki/education/communication/english.pdf" width="800px" height="1200px"
                            />
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading9">
                        <h3 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                          Russian
                      </a>
                  </h3>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                        <div class="panel-body">
                            <embed src="https://static.igem.wiki/teams/4179/wiki/education/communication/russian.pdf" width="800px" height="1200px"
                            />
                        </div>
                    </div>
                </div>
                <p>



                  <style type="text/css">
                    .tg {
                      border-collapse: collapse;
                      border-spacing: 0;
                    }
                    
                    .tg td {
                      border-color: white ;
                      border-style: solid;
                      border-width: 1px;
                      font-family: "Open Sans", sans-serif;
                      font-size: 14px;
                      overflow: hidden;
                      padding: 10px 5px;
                      word-break: normal;
                    }
                    
                    .tg th {
                      border-color: white  ;
                      border-style: solid;
                      border-width: 1px;
                      font-family: "Open Sans", sans-serif;
                      font-size: 14px;
                      font-weight: normal;
                      overflow: hidden;
                      padding: 10px 5px;
                      word-break: normal;
                    }
                    
                    .tg .tg-0lax {
                      text-align:center !important;
                      vertical-align: top
                    }
                    .tg-0lax .MathJax {font-size: 1.3em !important; }
                    </style>
                  
                  
                  <center>
           
                    <table class="tg">
                  <thead>
                    <tr>
                      <th class="tg-0lax"><img src="https://static.igem.wiki/teams/4179/wiki/education/communication/pic-5.jpg" width="410" height="270" class="imgcenter"></th>
                      <th class="tg-0lax"><img src="https://static.igem.wiki/teams/4179/wiki/education/communication/pic-6.jpg" width="410" height="270" class="imgcenter"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tg-0lax"><img src="https://static.igem.wiki/teams/4179/wiki/education/communication/pic-7.jpg" width="410" height="270" class="imgcenter"></td>
                      <td class="tg-0lax"> <img src="https://static.igem.wiki/teams/4179/wiki/education/communication/pic-8.jpg" width="410" height="270" class="imgcenter">                    </td>
                    </tr>

                    <tr>
                      <td class="tg-0lax"><img src="https://static.igem.wiki/teams/4179/wiki/education/children-s-workshop/307570031-156016287071994-4013061614536857288-n.jpg" width="410" height="270" class="imgcenter"></td>
                      <td class="tg-0lax"> <img src="https://static.igem.wiki/teams/4179/wiki/education/children-s-workshop/307485174-156016060405350-712381528205720372-n.jpg" width="410" height="270" class="imgcenter">                    </td>
                    </tr>
                  
                  
                  
                  
                  </tbody>
                  </table>
                  </center>


          
            </div>
        </div>
    </div>



    <br><br>
    <a href="{{ url_for('pages', page='communication') }}#Edu">
     <center><img src="https://static.igem.wiki/teams/4179/wiki/education/return-to-overview.svg" width="30%"></center></a>


{% endblock %}

{% block references %}
      
<ol class="reftext"> 
    
    <li id="ref1">Kumar ,NK. (2022, August 25). Statistics: How many Ukrainian refugees did Israel accept in six months?. Website. <a href="https://thetimeshub.in/statistics-how-many-ukrainian-refugees-did-israel-accept-in-six-months/31872/>"> https://thetimeshub.in/statistics-how-many-ukrainian-refugees-did-israel-accept-in-six-months/31872/></a>
    </li>
   
{% endblock %}
