{% set lead = 'no' %}
{% set ref = 'no' %}

{% extends "layout.html" %}
  
{% block title %}Virtual Escape Room{% endblock %}
{% block lead %}You can describe the results of your project and your future plans here.{% endblock %}

{% block page_content %}


    <h2>Overview</h2>
    <hr>
    <p>Furthering our goal of bridging the gap between digital and in-person learning, we designed our very own 
      virtual escape room. It is a synthetic biology-themed escape room with challenging riddles and puzzles. 
      Our target audience for this room was high school students currently taking the biotechnology elective.
       The knowledge required to solve the escape room was above what the high school students have, which is
        where we introduce the in-person aspect of the escape room. We created a lesson plan in synthetic 
        biology which would educate the students and enable them to solve the escape room. We then approached 
        various high schools in our vicinity, gave them the lesson, and had them play the escape room while we 
        stayed nearby in case any problems arose. This was a massive success; the students that solved the escape
         room exceptionally well and only the subtlest hints were required for all the students to solve the 
         room. Seeing the excitement of students reassured us in our belief, of how powerful interactive and 
         fun learning can be. Such games not only teach new terms in synthetic biology, but also develop erudition 
         in general, logic, and imagination, and moreover promote the approach of thinking outside of the box.</p>



    
    <p>In addition, we were able to spread a link to our virtual escape room in the iGEM community and received 
      positive feedback about our game from EPFL iGEM 2022, which shared results and their excitement on social media.</p>

      <p>click on the picture to try the synthetic biology escape room!</p>

      <a href="https://roomescapemaker.com/u/iGEMTechnion/iGEM" target="_blank">
        <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/escaperoom2.png" width="60%" class="imgcenter"></a>

<br><br>

   
            

              <div class="col-md-6 mx-auto text-center">
                <div id="carousel-1" class="carousel slide carousel" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Hair donation event at the Technion"></button>            
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1" aria-label="Envelopes of hair to donate"></button>            
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/img-5498.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/img-7923.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/iser-er.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/iser2-er.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/img-7907.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                          <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/img-5435.jpg" class="d-block w-100">
                      </div>
                        


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>
              </div>


      <br><br><br>
    <h2>Zoom meeting with teachers from all over Israel</h2>
    <hr>
    <p>Following our instructions in classrooms, word of mouth spread, and we got over 50 requests from high schools 
      across the country for us to come and teach the children there and have them participate in the escape room.
      Unfortunately, we realized that we couldn't go to all the schools in person due to the time and distance required
       to reach all of them. Hence, we scheduled a zoom meeting with the teachers that approached us and explained 
       to them the lesson plan as well as how to do the escape room so that their students would be capable of
        partaking in it. More than 40 teachers joined the session and were curious not only about the virtual 
        escape room itself, but also about our project and iGEM competition in general. They were totally eager to 
        incorporate our game in their lessons and talk about the topic of synthetic biology at schools,
         highlighting new innovations in the field and the role of iGEM competition in it. In total, <b>over 600 
          students from 30 high schools all over the country</b> have taken part in the escape room.</p>


          <center>
            <style>
            * {
              box-sizing: border-box;
            }
            
            .column {
              float: left;
              width: 50%;
              padding: 5px;
            }
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>
            </head>
            <body>
            <div class="row">
              <div class="column">
                <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/escape-room-zoom.png" alt="Snow" style="width: 100%">
                <style>.figure-text {text-align:left; font-size: 12px; color: #787277;}</style>
                <div class="figure-text"><center> <p>Zoom meeting with biotechnology teachers</p> </center></div>  
            </div>
              <div class="column">
                
                    <img src=
            "https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/israel-map.jpeg" alt="link" style="width:55%" </div>
            <div class="figure-text"> <p>Here you can see the places where our escape room has reached</p> </a></div>
               
            </div>
            
            
            </body>
         
            </center>


       <!--
         <center>
      <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/escape-room-zoom.png" width="90%"></center>
      <center class="figure-text">Zoom meeting with biotechnology teachers</center>

      <img src="https://static.igem.wiki/teams/4179/wiki/education/virtual-escape-room/israel-map.jpeg" width="90%">
      <center class="figure-text">Israel's map with all the location where children did the escape room</center>

       -->


    <h2>Future plans</h2>
    <hr>
    <p>We don't want to stop here! Our plans go beyond the scope of iGEM and we hope to make more significant 
      steps in the world of interactive education. We would like to adjust the current game for an even younger
       audience, making the escape room accessible and understandable for kids with easier riddles and more
        detailed explanations of biological terms. Seeing the huge success in our country, we would like to 
        spread the game all over the world, making the idea of synthetic biology a more commonly used term. 
        Moreover, we would like to create a real in-person escape room on the same topic, making it even more 
        entertaining. We see in that not only a fun quest that fills life with adventures, vivid impressions
         and unforgettable emotions , but also as a powerful key to promote educational content.</p>



     <br><br>
     <a href="{{ url_for('pages', page='communication') }}#escape">
      <center><img src="https://static.igem.wiki/teams/4179/wiki/education/return-to-overview.svg" width="30%"></center></a>


{% endblock %}
