{% set ref = 'no' %}
{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}To complete a well-rounded project, we must have a plan regarding our proposed implementation of our biomanufactured decursin. In this page we expand upon the way we envision decursin being integrated into the real world, and specifically being used in an ointment by patients undergoing chemotherapy. {% endblock %}

{% block page_content %}
<h3>Introduction</h3>
<hr>
<p>The goal of any good project is to create a real-world impact on the lives of people. But an impact is no good if it is not channelled properly to the people and this is where we felt the need for a strong entrepreneurship plan. To facilitate this, we kept our stakeholders in mind, empathised with their problems and understood their challenges in this whole course of building the solution.

  We started by devising a clear-cut problem statement and analysing its extent of impact by estimating the market size. We mapped our stakeholders well and wrote down all the opportunities before finding our own entry point.
  
  Once the entry point was clear, our team worked further on crafting a viable solution which has a practical development plan and scope for rapid scalability.
  
  We interacted with entrepreneurs, did market research, understood the dynamics of starting up a biotech startup in India, predicted challenges and therefore devised an effective Business Plan.
  
  Let’s dive deep into the aspects of converting our iGEM project into a startup.</p>
<br><br><br>

<h3><img src="https://static.igem.wiki/teams/4179/wiki/proposed-implemintation/market-effect.svg" width="8%">Production scheme</h3>
<hr>
<p>After consultation with experts, we have devised a scheme for economically viable industrial production of our project. Our proposition is a three-step scheme for the production of biosurfactants from our GMO: E. coli DH5α incorporated with a tunable bidirectional promoter. <br>

  The first step of production involves growing the GMO cells in a batch culture, in nutrient rich media. Biosurfactant production will be induced using IPTG (Isopropyl ß-D-1-thiogalactopyranoside), which mimics allolactose, a lactose metabolite and triggers transcription of the lac operon. <br>
  
  The second step involves switching to exponential fed batch mode right before the onset of the stationary phase in the batch culture.This will lead us to obtain an HCDC (High Cell Density Culture) and help with efficient consumption of substrate. This ensures that our media is now exhausted of nutrients. However, all the biosurfactant produced by cells thus far will have been released into the media, so the media will be product rich. 	<br>
  
  Step three of our plan involves separating the cells out via dead-end filtration. The concentrated mass of cells obtained can be used as inoculum for the next batch cycle. We can now directly use this GMO-free, nutrient-deficient, biosurfactant-rich media for various applications without having to purify it, which would help cut costs and keep the entire process economically viable.
  
  </p>

<br><br><br>
<h3><img src="https://static.igem.wiki/teams/4179/wiki/proposed-implemintation/large-scale.svg" width="8%">Applications of our project</h3>
<hr>
<p>A tunable bidirectional promoter can help optimize and control biosurfactant production. Their bidirectionality allows for the simultaneous expression of two genes in opposite directions, and their tunability allows us to adjust gene expression levels as needed. Our GMO will hence be able to produce controllable amounts of either Alasan or Rhamnolipid, depending on environmental conditions. <br>

  Alasan and Rhamnolipids, like all biosurfactants, are non-toxic, biodegradable, and possess excellent foaming ability. This makes them indispensable to the oil and gas, food, agriculture, pharmaceuticals and personal care products industry. However, their most beneficial quality is their irreplaceable role as tools for bioremediation, which is the primary goal of our project.<br><br>
  <h3>1. Industrial effluents:</h3> <br>Heavy metals (like Pb, Hg, Cd, Cr, Ni, As, Zn) from various industries (e.g. metal surface finish industries, textile industries etc.) enter into rivers through untreated industrial discharge. Biosurfactants have great chelating power and can form complexes with these heavy metals. This will prevent them from entering the river stream, where they cause irreparable damage to the health of 
  people relying on the river for drinking water as well as to the river’s ecosystem. It may also lead to bioaccumulation of  heavy metals inside the food chain with disastrous consequences. The treatment of industrial effluents with biosurfactants before they reach the rivers will help chelate the heavy metals present and prevent this. This treatment will be administered by adding powdered biosurfactant to the slurry and then filtering 
  out the foam containing the chelated heavy metal ions, which can then be recovered to cover costs.<br><br>
  <h3>2. Soil bioremediation:</h3> <br>Petroleum and oil and gas industries often dump toxic sludge, which effectively turns the soil into a biological desert. The sludge comprises hydrocarbons and heavy metals and inhibits and kills the microorganisms present in the soil. They may even impact soil structure and seep into groundwater reserves. This is especially harmful in an agrarian country such as India. The effects of the heavy metals
   in the sludge persist for decades and ruin the soil fertility and ecosystem. However, this can be prevented by treating the waste, or the affected soil, with the biosurfactants we produce, which would enable us to remove the toxins and make the soil suitable for plants again. The soil can be treated by spraying it with our biosurfactant-rich, nutrient-deficient media obtained at the end of each run of the bioreactor.<br><br>
  <h3>3. Oil spill remediation:</h3> <br>Biosurfactants can also be used to clean up oil spills overseas. Oil spills have devastating effects on marine ecosystems. They harm marine flora and fauna, cause large scale disruptions of aquatic food chains and damage the oceanic habitat. They can be cleared up using chemical surface active agents, but they also pose a lot of side effects as they themselve can be toxic to marine life and are generally non-biodegradable. 
  However, using our biosurfactants to disperse the spilled oil would help in quick, efficient clean up of the ocean and minimize the damage to aquatic life. This can be done by spraying powdered biosurfactants on the surface of the spilled oil by aerial or surface spraying, which reduces the surface tension between oil and water allowing for faster mixing and dispersion of oil. This increases the bioavailability of the oil and enables its quick and efficient breakdown by biodegradation.<br><br>
  <h3>4. Oil tank cleaning:</h3>  <br>It has come to our notice that many companies struggle with the problem of decreasing tank volume as it is being used, when the tank is being used, the sludge from the oil accumulates on the bottom of the tank reducing its capacity. Companies need to spend a lot to clean their tanks, one of the solutions is using biosurfactants to clean the tank, and as the cell free broth could directly be used to clean the tanks, this solution is cheaper and more environmentally friendly than existing techniques. 
  The cell free broth could directly be used to clean the tanks.<br><br>



  </p> 


 

      <div>
          <img src="https://static.igem.wiki/teams/4898/wiki/implimentation-chart.jpg" style="width:100%" class = "imgcenter" ></p>
      </div>


{% endblock %}

