{% set ref = 'no' %}
{% extends "layout.html" %}
  
{% block title %}Inclusivity & Diversity{% endblock %}
{% block lead %}In the spirit of scientific progress and innovation, we, the dedicated team of iGEM-IITD, are deeply committed to fostering a culture of inclusivity and diversity within our research community. As an interdisciplinary team, we recognize true breakthroughs can only be achieved when we harness the collective wisdom, experiences, and perspectives of individuals from all walks of life. Together, We aim to cultivate a space where creativity thrives, boundaries are broken, and innovation knows no limits.
{% endblock %}


{% block page_content %}

<link href="{{ url_for('static', filename='assets/css/fontawesome/css/all.css') }}" rel="stylesheet" />

<style>
    div {
      text-align: justify;
      text-justify: inter-word;
    }
    </style>
<h3>Language Inclusivity
</h3>

<p>India boasts remarkable language diversity, with over 1950 languages and dialects. The Constitution recognizes 22 official languages, including Hindi, Bengali, and Tamil. Beyond these, people across India converse in numerous regional languages, dialects, and regional variations.</p>
<p><b>While the primary language for teaching STEM in colleges is English, most of India is still largely not versed in English, with only 20 % of people in India being proficient in English mainly in Urban areas. This creates a massive inequality for non-English speakers in being accessible to STEM education and STEM-related knowledge. This is why we made it a priority to be more language-inclusive. Our team has people fluent in 9-10 local languages apart from English.
</b></p>
    <!-- <style>
    table, th, td {
  border: 18px solid white;
}
table {
  border-spacing: 30px;
}
.centertxtt { text-align: center !important;}
</style>
<table valign="top"> 
    <tr><th><img src="https://static.igem.wiki/teams/4179/wiki/inclusivity/lengueg.png"width="200" 
        height="200" class = "imgcenter" ></th> <th><img src="https://static.igem.wiki/teams/4179/wiki/inclusivity/refugees.png"width="200" 
            height="200" class = "imgcenter" ></th>
        <th><img src="https://static.igem.wiki/teams/4179/wiki/inclusivity/adhd.png"width="200" 
            height="200" class = "imgcenter" ></th></tr>

            <tr><th valign="top"><p class="centertxtt">One main problem was <b>great gaps between different populations in
                 Israel</b>.
                In some cities in the periphery, the rate of graduation with Bagrut certificate (national
                 matriculation examination) is up to 75% lower than cities in the center of the 
                 country<sup>[<a href="#ref1">1</a>]</sup>.
                This <b>originates from both budget and language gaps</b>, as those populations often 
                don't speak Hebrew or English at a sufficient level.</p></th>

            <th><p class="centertxtt"> As a group, we believe every person has the right to access fundamental education,
                 and science is no exception. 
                During our research, we also encountered other populations who didn't have access to
                 science education.
                One of them is <b>war refugees</b>. Because of global events, Israel is now home to over
                 30,000 refugees from Ukraine- adults and children who were displaced from their homes
                  and were <b>denied access to regular 
                    education</b><sup>[<a href="#ref2">2</a>]</sup>.</p></th>

        <th><p class="centertxtt">Another marginalized group is <b>children who have attention deficit hyperactivity 
            disorder (ADHD)</b>, which are approximately 10% of the general 
            population<sup>[<a href="#ref3">3</a>]</sup>. 
            Children with ADHD experience more obstacles which often prevents them from pursuing 
            academic education, despite many of them being highly intelligent.
            <b>The cause for their "self- renunciation" is the lack of adjustment from the education
                 system to fit their special needs.</b> </p></th></tr>
    </table> -->
    <p>
    We consistently made sure that when dispatching teams for our outreach initiatives, we organised them in a way that included a team member proficient in the local language of our audience for the session. While visiting the banks of Yamuna, we talked to the locals in their local languages, Hindi and Haryanvi.
    </p>

    Also, we translated the captions of our promotional video into 9 languages with the help of some iGEM Teams:
    <br><br>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">English</li>
        <li class="list-group-item list-group-item-info">Hindi</li>
        <li class="list-group-item list-group-item-info">Marathi</li>
        <li class="list-group-item list-group-item-info">Bengali</li>
        <li class="list-group-item list-group-item-info">Kannada</li>
        <li class="list-group-item list-group-item-info">Malayalam</li>
        <li class="list-group-item list-group-item-info">Odia</li>
        <li class="list-group-item list-group-item-info">French</li>
        <li class="list-group-item list-group-item-info">Arabic</li>
    </ul>
    </div>
    </div>
    However, another important aspect is international communication in which we used English as the language in our Genomics hackathon, an international competition held in Abu Dubai and multiple other conferences.
    <br><br><h3>Disability Inclusion</h3>
<p>India has a vast, neglected population of disabled people that comprises about 60 million people. These people have been among the most excluded people in the development of STEM in our country. Many higher education students often experience a sense of being underrepresented and overlooked in their academic environments. This sentiment arises from several factors, such as the absence of specialised laboratory equipment, an inadequately accommodating workspace, and a pervasive atmosphere that lacks inclusivity and is prone to discrimination from peers. It is absolutely essential that these people be represented and their feelings be understood appropriately. This is why we conducted a survey asking them about how their disability impacts their life in STEM, how they feel their peers perceive them and how accommodating STEM has been to them. The survey was an online questionnaire so that it could be filled by everyone and was anonymous.
</p>     <br>     <img  src="https://static.igem.wiki/teams/4898/wiki/inclusivity/form1.png" width="800" class = "imgcenter" >
<img  src="https://static.igem.wiki/teams/4898/wiki/inclusivity/form2.png" width="800" class = "imgcenter" >
<img  src="https://static.igem.wiki/teams/4898/wiki/inclusivity/form3.png" width="800" class = "imgcenter" >
<img  src="https://static.igem.wiki/teams/4898/wiki/inclusivity/form4.png" width="800" class = "imgcenter" >
<img  src="https://static.igem.wiki/teams/4898/wiki/inclusivity/form5.png" width="800" class = "imgcenter">
<br>
The participants in this survey were members of the disabled community from many STEM colleges. The results of the survey were:
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Observations</th>
        <th scope="col">Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Felt the need to hide their disabilities due to fear of being treated differently</td>
        <td> 71.2%</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Uncomfortable  sharing their disability with their peers in STEM</td>
        <td>65%</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Labs are  not accommodating  and considerate towards disabilities</td>
        <td>75%</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>        Require inclusive curriculum and teaching methods</td>
        <td>40%</td>
    </tr>
    <tr>
        <th scope="row">5</th>
        <td>Need mentoring and special support group </td>
        <td>50%</td>
    </tr>
    <tr>
        <th scope="row">6</th>
        <td>Require supportive policies and initiatives </td>
        <td>80%</td>
    </tr>
    <tr>
        <th scope="row">7</th>
        <td>        Should be given equitable access to resources        </td>
        <td>62%</td>
    </tr>
     
        
      </tr>
    </tbody>
  </table>
  <br><br>
  <ul class="list-group">
  
  <li class="list-group-item">71.2% of people felt the need to hide their disabilities due to the fear of being discriminated against or treated differently.
</li>
<li class="list-group-item">
Most people were dissatisfied with the level of accommodation they felt towards their disability.
</li>
<li class="list-group-item">
65% of people felt that they were uncomfortable sharing their disability with their peers in STEM.
</li>
<li class="list-group-item">
More than 75% of people felt that labs were not accommodating and considerate towards disabilities.
</li>
<li class="list-group-item">
About 40% of people thought that inclusive curriculum and teaching methods were required.
</li>
<li class="list-group-item">
Around 50% of people felt that mentoring or special support groups should be made to help disabled people.
</li>
<li class="list-group-item">
Most of the people felt the requirement of  supportive policies and initiatives, such as scholarships.
</li>
<li class="list-group-item">
Around 62% thought that they need  equitable access to resources.
</li>
<li class="list-group-item">
Though most of the people opting for survey belonged to the urban region. From where we can infer that the rural section still need a lot of attention.
</ul>
<br>
    <h3>Visit to NAB</h3></br>
    <p>

   
    Also in order to aid the disabled community, we decided to focus our efforts on the visually impaired community. The visually impaired community is a largely neglected community in India that comprises  70 million people out of which 4.95 million people are completely blind. In order to do this we made multiple visits to the National Authority for the Blind(NAB).
</p>
    <img  src="https://static.igem.wiki/teams/4898/wiki/inclusivity/picture-in-hospi.jpg" width="800" class = "imgcenter">
    <p><br>
        Our visits to the National Authority for the Blind had two main goals: Firstly, to gather insights into the unique needs and obstacles faced by visually impaired children, informing our project. Secondly, to inspire these children to pursue scientific research as an inclusive and exciting avenue for personal and academic development.

    </p>
<p>
    During our visits to the National Association for the Blind (NAB), we conducted thorough research on NAB's mission and services for the blind and visually impaired community. We initiated contact through emails and calls, leading to scheduled meetings. We prepared an inclusive document focusing on visually impaired individuals' involvement in scientific research, emphasizing challenges and available tools, as well as discussing synthetic biology's inclusivity. We shared inspiring stories of visually impaired scientists and introduced our project, receiving an enthusiastic response.

</p>
The most impactful part of our visits was our interaction with visually impaired children at NAB. They raised key points:
<br>
<ul class="list-group">
  
    <li class="list-group-item">Accessibility of Educational Materials: The children stressed the need for more accessible educational materials in braille and audio formats.  </li>
  <li class="list-group-item">
    Navigation and Mobility: They highlighted issues related to safe navigation, underlining the importance of tactile cues and audible signals in public spaces. </li>
  <li class="list-group-item">
  65% of people felt that they were uncomfortable sharing their disability with their peers in STEM.
  </li>
  <li class="list-group-item">
    STEM Education: Some children expressed interest in STEM subjects but had doubts about pursuing them effectively with visual impairments.</li>
  </ul>
<br>
Our visits had several positive outcomes:   
<ul class="list-group">
    <li class="list-group-item">Enhanced Understanding: We gained profound insights into the specific challenges faced by visually impaired children, directly informing the direction of our project.</li>
  <li class="list-group-item">
    Valuable Feedback: The children's insights and feedback were invaluable in refining our project's goals and objectives to better address their needs
  </li>
    </ul>
<br>
<h3>Gender Inclusivity</h3>
 <hr>
<p>
    In our commitment to fostering inclusivity and diversity, we recognize that equal representation, the provision of safe spaces for all members, and the absolute absence of discrimination based on one's identified sexuality are paramount. These principles underpin our mission to ensure that science, as a discipline that seeks to understand and improve the world around us, treats every human being with equal respect and consideration, irrespective of their gender or sexuality.
</p>        

<h3>
Conclusion</h3>
<p>We firmly believe that science, at its core, values the contributions and perspectives of individuals from all walks of life. It is through this diversity that we can explore, innovate, and achieve remarkable progress in our shared pursuit of knowledge and understanding.
We are dedicated to creating an environment where everyone feels welcome, heard, and valued, regardless of their gender or sexual identity. This commitment extends to providing not only equal opportunities but also actively seeking to understand and address the unique challenges and needs of individuals from diverse backgrounds. By ensuring a safe and inclusive space for all, we foster an atmosphere in which everyone can thrive, contribute their talents, and be celebrated for who they are as they engage in the pursuit of scientific knowledge.
</p>
{% endblock %}

{% block references %}
      

{% endblock %}
