{% set ref = 'no' %}

{% extends "layout.html" %}
  
{% block title %}Partnerships{% endblock %}
{% block lead %}A major part of our project was the interaction and partnerships with fellow iGEM teams. 
These collaborations represented an opportunity to enrich and elevate our project to the next level. 
In this page we elaborate on the way we utilized both in-person and digital mediums to facilitate communication.{% endblock %}

{% block page_content %}


<h2>Intro</h2>
<hr>
<p>In the canvas of this year's project, we meticulously crafted a mosaic of collaborations and partnerships that stretched far and wide. 
  Among these constellations of partnerships, a beacon shone brightly with the Indian Institute of Science, Bengaluru (IISc). 
  Together, our intellectual forces merged to champion the establishment of National Biotechnology Day before the discerning eyes of 
  the Department of Biotechnology (DBT). We passionately advocated for initiatives that transcend mere education; we championed for 
  innovation. Moreover, our collective intellect penned a proposal of monumental significance to the National Council of Educational 
  Research and Training (NCERT). This proposal was not just a document; it was a clarion call for the meticulous review and rejuvenation 
  of biotechnology curricula. In the hallowed halls of education, our voices resonated, driving improvements that would render 
  biotechnology education not just current, but brilliantly accessible to a wider audience, transcending the boundaries of academia and geography.<br></p><hr>
<p>The tapestry of collaboration did not end there; it continued to unfurl with grace and purpose. We reached out to the esteemed bastions of knowledge, the Manipal Institute of Technology- Manipal Academy of Higher Education (MIT-MAHE). Together, we embarked on a transformative journey, birthing the Bioremediation Conclave. In the midst of this intellectual symphony, we dived into the deep oceans of environmental challenges, seeking pearls of wisdom in the form of cutting-edge solutions. In this vibrant conclave, our ears were graced by the eloquence of renowned speakers, luminaries such as Prof. Suparna Mukherji from IIT Bombay, Kevin Sowers, and Prof. MNV Prasad, who illuminated our minds with their wisdom. Within these conversations, solutions to environmental quandaries emerged, testament to the power of collaboration in the face of global challenges.
  <br></p><hr>
<p>Furthermore, we indulged our creative spirits, nurturing the intersection of science and art through the Bioart Competition. This endeavor was not just an event; it was a manifesto, a testament to our unwavering commitment to bridging the ever-narrowing gap between science and creativity. In the strokes of a brush and the pixels of digital art, we found a language that speaks universally, a language that translates complex scientific concepts into the sublime, making biotechnology's vast potential tangible, palpable, and profoundly appreciable.<br></p><hr>
<p>Yet, our collaborative spirit, boundless and relentless, soared beyond the boundaries of any single partnership. It extended its arms to embrace fellow iGEM teams, nurturing a supportive ecosystem where ideas, experiences, and dreams intermingled. In this nurturing environment, we offered our expertise and enthusiasm. We translated promotional videos, breaking language barriers to ensure our message traversed continents and resonated with a global audience. We engaged in surveys, online competitions, and collaborative Instagram posts, activities that might seem small in scale but were monumental in their impact. These endeavors not only strengthened the bonds within our shared iGEM community but also reinforced our collective commitment to advancing the responsible application of biotechnology.
  <br></p><hr>
<p>In essence, these partnerships, meticulously woven and nurtured, serve as the very bedrock upon which the iGEM initiative stands. They fortify our mission, embolden our spirit, and amplify our impact. Together, we, the collaborative torchbearers of iGEM, venture into uncharted scientific territories, explore the depths of knowledge, learn from one another, and inspire generations to come. In this collective journey, we find not just the promise of a brighter future but the assurance that through the power of science and collaboration, we are crafting that future, one partnership at a time.<br></p><hr>
<p>Working together with other teams is like the heartbeat of every iGEM project. It's super important because it joins the knowledge and skills of different teams. These collaborations are a must for moving science forward.

  This year, we joined forces with many teams for our project, and our partnerships reached many places.
  <br></p><hr>



<h2>IISC Bengaluru</h2>
<hr>
<p>The iGEM team of IISc Bengaluru drafted a proposal advocating for the establishment of a National Biotechnology Day in India. As part of collaborations, we (iGEM IIT Delhi), used their proposal after certain modifications to use it in the Department of Biotechnology headquarters present in Delhi. This initiative aims to educate the populace about biotechnology's applications, current research trajectories.Our team chose a hands-on approach by visiting the DBT offices. Our objective was to engage with high-ranking officials who had jurisdiction over such initiatives. Our visit bore fruit when we initiated a conversation with an esteemed official.</p><hr>
<p>
  The iGEM team of IISc Bangalore drafted a proposal to enrich the existing biotechnology syllabus in school curriculums, by including more concepts of Synthetic Biology to pique interest among curious students. As part of collaborations, we (iGEM IIT Delhi), used their proposal after certain modifications to use it in education offices present in Delhi.To our fortune, we were able to engage with one of the committee's members, Mrs. Ranjana Arora.Mrs. Arora not only provided invaluable feedback but also suggested we conduct a thorough review of the current biotechnology syllabus for grades 11 and 12. She further recommended we explore potential integrations of biotechnology and synthetic biology concepts into junior-grade biology chapters, whether through stories, facts, or descriptive paragraphs.
  </p><hr>

      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>
  <div>
    
    <img src="https://github.com/iitdshashank/igem/blob/main/HP-PARTNERSHIP.png?raw=true" alt="IISc partnership" width="800px">
    <!-- <img src="https://static.igem.wiki/teams/4898/wiki/HP-PARTNERSHIP.png" alt="IISc partnership" width="800px"> -->
  </div><br><br>
</head>
<body>

</body>
</html>
</center>

<h2>MIT-MAHE </h2>
<hr> 
<p> We reached out to the Manipal Institute of Technology- Manipal Academy of Higher Education (MIT-MAHE). Together, we embarked on a  journey, birthing the Bioremediation Conclave. In this  conclave, we  were graced by  renowned speakers such as Prof. Suparna Mukherji from IIT Bombay, Kevin Sowers, and Prof. MNV Prasad, who covered topics ranging from the role of biosurfactants in bioremediation to in situ treatment of PCB-contaminated sediments. Within these conversations, solutions to environmental challenges emerged, testament to the power of collaboration.
</p>
<hr>
<p>Furthermore, we nurtured the intersection of science and art through the Bioart Competition.Bio art competition was accepting various forms ,including painting ,sculptures,digital art and more.The competition encouraged artists to embrace their heritage and channel it through their passion for biology.The competition was outlet of fostering a deeper appreciation of biology and its global impact. </p>
<br>
<p><b>Promotional Video Translations</b> <br>
  We collaborated with many teams for the translations of the captions of promotional video.We translated our script into various Indian local languages with the help of many iGEM teams.
  
  IISER Pune                                   Marathi
  EPFL                                             French
  IISc Bengaluru                              Kannada
  iGEM SVCE-CHENNAI                Tamil
  
  Our strong sense of teamwork reached far beyond just one partnership. It included other iGEM teams and created a system where we shared ideas, experiences, and dreams. We translated promotional videos to make sure everyone could understand our message. We did surveys, online contests, and worked together on Instagram posts. These activities might seem small, but they had a huge impact. They made our connections with the iGEM community stronger and showed our shared commitment to using biotechnology for the better.
  </p><br>
  <div><img src="https://github.com/iitdshashank/igem/blob/main/HP%20partner%20mit.png?raw=true" padding-left="100px" width="800px" alt="IISc Partnership">
    <!--<img src="https://static.igem.wiki/teams/4898/wiki/HP_partner_mit.png" padding-left="100px" width="800px" alt="IISc Partnership">-->
    
  </div>
  <br>
  <br>

{% endblock %}

