{% set ref = 'no' %}
{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %} iGEM-IIT-Delhi safety in project, lab and environment.


{% endblock %}
{% block page_content %} 
<h2>Safety in the project</h2>

<h3>Introduction</h3>
<p>At IITD, the iGEM team places the highest importance on safety as we venture into the innovative domain of synthetic biology. We understand that our work, aimed at bringing about transformative change, must be conducted with the utmost responsibility to safeguard both humanity and the environment.</p>
<p>The team's dedication to safety extends to a range of areas. We have sought guidance from experts and undergone extensive safety training. By adhering to the rules and regulations outlined by the committee, we have ensured that all potentially hazardous waste is correctly disposed of. This commitment also extends to measures such as accident reporting, personal protective equipment, inventory controls, and physical access controls, further reinforcing their dedication to safety.</p>
 
<h3>Parts safety</h3>
<p>We have used a wide variety of bacterial strains in our project, after reading up on and following the appropriate laboratory protocol for each. A standard microbiological lab (Biosafety level-1) was used for all our experiments. These strains produced a variety of biosurfactants which were used for a comparative study.</p>
<table border="1">
    <thead>
      <tr>
        <th style="border: 1px solid black;">Strain used</th>
        <th style="border: 1px solid black;">Biosafety Level</th>
        <th style="border: 1px solid black;">Possible risks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border: 1px solid black;">Escherichia coli DH5α</td>
        <td style="border: 1px solid black;">1</td>
        <td style="border: 1px solid black;">minimal potential hazard to laboratory personnel and the environment</td>
      </tr>
      <tr>
        <td style="border: 1px solid black;">Bacillus licheniformis</td>
        <td style="border: 1px solid black;">1</td>
        <td style="border: 1px solid black;">minimal potential hazard to laboratory personnel and the environment</td>
      </tr>
      <tr>
        <td style="border: 1px solid black;">Bacillus sp. IITD106</td>
        <td style="border: 1px solid black;">1</td>
        <td style="border: 1px solid black;">minimal potential hazard to laboratory personnel and the environment</td>
      </tr>
      <tr>
        <td style="border: 1px solid black;">Bacillus altitudinis strain AS19</td>
        <td style="border: 1px solid black;">1</td>
        <td style="border: 1px solid black;">minimal potential hazard to laboratory personnel and the environment</td>
      </tr>
      <tr>
        <td style="border: 1px solid black;">Streptococcus sp. strain STA13</td>
        <td style="border: 1px solid black;">1</td>
        <td style="border: 1px solid black;">moderate risk of infection among laboratory personnel and the environment</td>
      </tr>
    </tbody>
  </table>
  <p>  As a part of Integrated Human Practices, we had a discussion with Prof. T.R. Sreekrishnan, from IIT Delhi, regarding the safety measures to be practiced and the harmful effects of biosurfactants for the environment. For more information visit Human Practices page of our wiki.  </p>

  <h2>Safety in the lab</h2>
  
  <p><img src="https://static.igem.wiki/teams/4898/wiki/safety1.png" alt="Image Description" width="700" height="400"> <br> Our team has followed all the safety guidelines laid out by EHLSU (Environmental Health and Lab Safety Unit) and IBSC (Institutional Biosafety Committee), which are responsible for holding up all the safety rules and regulations in all the labs (including ours) at the institution. All potentially hazardous waste (excess media, cultures that were no longer needed etc) was dumped in trash cans lined with RED bags and collected twice a week and carefully disposed by Biotic Waste Pvt. Ltd., as per their annual contract with the lab. Non hazardous wastes (pipette tips, masks, gloves etc.) were dumped in YELLOW trash bags and collected by the same agency.</p>
  <p>
    <img src="https://static.igem.wiki/teams/4898/wiki/safety2.png" alt="Image Description" width="700" height="400"> <br>
    Our team went through a week of safety training before starting the hands-on work for our project. This covered: 
    <ul>
        <li>Lab access and rules</li>
            <li>    Responsibilities</li>
                <li>Different biosafety levels</li>
                    <li>Biosafety equipment</li>
                        <li>Good microbial technique</li>
                            <li>Disinfection and sterilization</li>
                                <li>Emergency procedures</li>
                                    <li>Chemical, fire and electrical safety</li>
    </ul>

This taught us the proper management of engineered organisms and general and specific risks, such as careful handling of chemicals, proper disposal of harmful substances and proper handling of hazardous substances.


Reaching out to various experts in the industry, biosafety and bioethics helped us understand the harmful effects of all potential risks in our experiment, including but not limited to dealing with the bacterial strains used over the course of the project and the toxic heavy metals extracted. This helped us devise strategies for their proper handling and disposal.

Biosafety and biosecurity measures implemented by us:
<ul>
    <li>Accident reporting</li>
    <li>Personal Protective Equipment</li>
        <li>Inventory Controls</li>
            <li>Physical Access Controls</li>
                <li>Data access controls</li>
                    <li>Lone worker policy</li>
                        <li>Out of hours policy</li>
                            <li>Proper waste management and disposal system (including hazardous waste)</li>
</ul>

Possible hazards that could have occured during the course of the project include harmful effects of the heavy metals extracted, which were used during experiments to test the working of our engineered organism. Since exposure to high levels can be toxic, prolonged exposure could have been dangerous if proper care was not taken. Hence, proper disposal of contaminated water in the lab was ensured.

</p>

<h2>Safety in the environment</h2>

<h3>Parts safety</h3>
<p>If your project were fully developed, could any of your engineered organisms or parts spread autonomously in the environment?

    No, our engineered organisms or parts are unable to spread in the environment. Moreover, suitable filtering systems will be used to ensure that the organisms don't spread to the water being released into the environment after treatment. Complete sterilization using suitable means such as the use of sodium hypochlorite, and proper disposal of the bio-waste generated will be ensured.
    
    </p><p>
    Is using biosurfactants in the environment harmful? If yes, to which extent do they cause harm?
    
    Biosurfactants are described to exhibit a “low toxicity” compared to chemical surfactants. However, like any chemical substances, they can have adverse effects on human health and the environment under certain circumstances. The potential health effects of biosurfactants can vary depending on their specific chemical composition, concentration, and exposure routes. The potential health effects associated with biosurfactants are irritation, allergic reactions, inhalation risks and ingestion risks. Both the product produced and the proposed implementation involve lower concentrations of the biosurfactants, hence we posit that the product is safe to use in the environment.
    </p>

<h2>Conclusion</h2>
<p>In conclusion, biosafety and security have been paramount in our project design and implementation. We have meticulously followed the guidelines and protocols outlined by EHLSU and IBSC, adhering to the highest laboratory safety standards. Through responsible laboratory practices, stringent waste management procedures, and comprehensive safety training, we have ensured that our project presents no significant biosafety risks.Furthermore, our engagement with experts in the field, as well as our dedication to robust biosafety and biosecurity measures, has fortified our commitment to safeguarding against potential hazards. . Our project is poised to address environmental challenges responsibly and safely, prioritizing both human and ecological well-being.</p>


{% endblock %}

