{% set ref = 'no' %}
{% extends "layout.html" %}
  
{% block title %}Survey{% endblock %}
{% block lead %} iGEM-IIT-Delhi page for Survey. {% endblock %}

{% block page_content %}


<h2>Introduction</h2>
<hr>
<p>It was of utmost importance for us to accurately understand people's awareness of heavy metal pollution in their lives and the ecosystem. This is why we decided to conduct surveys to gauge people's understanding of this matter.

  The survey's strength lies in its straightforward design for efficiently handling and quantifying the collected data, along with its potential for a high response volume. While it may not yield detailed responses as in personal interviews, 
  a well-executed survey with an ample number of responses can still provide a comprehensive overview of public awareness.
  
  We conducted surveys, both at the local and international levels, to assess public awareness regarding water contamination from heavy metals and its impact on both our health and the ecosystem. Our survey not only gauged people's understanding 
  of these issues but also inquired about their knowledge of synthetic biology and its potential to address these challenges. Throughout the survey process, we took care to provide participants with full disclosure regarding the intended utilisation of the data collected for the iGEM project at IIT Delhi. 
  Furthermore, we maintained anonymity to safeguard the privacy of the respondents.
  <br></p>
  <div>
    <img src="https://static.igem.wiki/teams/4898/wiki/survey1.png" width="800" class="imgcenter"><br>
    <img src="https://static.igem.wiki/teams/4898/wiki/survey2.png" width="800" class="imgcenter"><br>
    <img src="https://static.igem.wiki/teams/4898/wiki/survey3.png" width="800" class="imgcenter"><br>
    <img src="https://static.igem.wiki/teams/4898/wiki/survey4.png" width="800" class="imgcenter"><br>
  </div>
  



<h2>Why did we take these surveys?  </h2>
  <hr>
  <p>The surveys that we conducted in India and Abu Dhabi aimed to determine the public awareness of heavy metal poisoning among people. It helped us to understand the problem better and has also helped us establish a baseline understanding of what the general public knew, which was useful in 
    directing targeted awareness campaigns. Then, the information was used to create customised educational materials, which ensured the efficient dissemination of important knowledge. The initiatives we took were supported by encouraging public participation, which turned the neighborhood into an advocate. 
    The surveys also offered empirical information for policy advocacy, which is crucial for promoting regulations. Last but not least, these surveys validate IGEM IITD's project, bringing it into line with local requirements and enhancing its credibility among stakeholders, making it a crucial step in their mission to 
    chelate heavy metals from water bodies, particularly the Yamuna River.</p><br>

<h2>How was this survey useful for our project?</h2>
<hr>
<p>The success of the project was significantly influenced by the surveys on heavy metal poisoning awareness that IGEM IITD conducted in Abu Dhabi and India. The project team can effectively tailor their initiatives by knowing the level of community awareness. The survey results act as a road map for concentrating awareness 
  campaigns and educational initiatives. This targeted strategy guarantees effective resource management for the project, maximising the impact of interventions. The surveys also encourage community involvement, making the participants stakeholders in the project. This involvement increases the initiatives' chances of success by 
  securing public support and ensuring that they are culturally and socially relevant. The project's advocacy efforts are strengthened by the specific information from the surveys. It offers policymakers evidence-based justifications for the rules and measures required to lessen heavy metal pollution in water bodies like the Yamuna River. 
  The surveys also serve as a benchmark for tracking the project's development over time, allowing the team to evaluate the success of their tactics and make the necessary changes to ensure the project's long-term success.
</p><br>
      

<h2>Why did we take this survey in two different countries?</h2>
<hr>
<p>Conducting surveys in both India and Abu Dhabi offered a comprehensive understanding of heavy metal poisoning awareness on an international scale. The Global Survey also helped us understand the level of awareness of people in different countries and how safety concerning heavy metal poisoning was dealt with in their geographies. The international survey was an adapted version of the domestic survey, designed to explore the perception and awareness of this issue across a wide range of methods and countries.
  The survey link was shared during a Genomics Hackathon that we organised in Abu Dhabi. It was also floated on the iGEM global slack channel to reach other international teams. The survey can be accessed at the following link: https://forms.gle/YA6NGVzHtT8AfqFC7.
  <br><br>
  Comparing responses across diverse cultural and socioeconomic contexts provided valuable insights. Varied responses highlighted regional disparities in awareness levels, enabling tailored, culturally sensitive interventions. 
  This global perspective enhanced the project’s effectiveness, ensuring strategies resonated with different populations. Additionally, international data strengthened the project’s credibility, appealing to a broader audience for support and funding. Furthermore, it promoted cross-cultural knowledge exchange, fostering a collaborative approach to tackling the issue on a global scale, aligning with the project's ambition to create widespread awareness and action against heavy metal pollution.
  </p><br>

<h2>Results</h2>
<hr>
<p>The findings suggested a concerning level of ignorance in the community about heavy metal contamination, its causes as well as its effects. 83 % of people were unaware of any governmental policy or action to combat heavy metal contamination. Even though most people said they had heard about Heavy Metal Contamination, 86.1% of people felt that this problem was important enough to be tackled. Only 27.7 % of people had their water supply checked for any heavy metal contamination or any dissolved solids 90.8% of people believed that there was heavy metal poisoning in their states. Many people seemed largely unaware of synthetic biology and its applications.
</p><br>

      
<h2>Conclusion</h2>
<hr>
<p>The Global Survey helped us understand the level of awareness of people in different countries and how safety with respect to lead poisoning was dealt with in their geographies.
  This information helped us establish two things:<br><br>
  1. Identify areas of growth for awareness in the Indian Context and how other countries have dealt with this<br><br>
  2. To establish the scope of iGEM IITD’s work in geographies other than the home location, i.e., beyond India.<br><br>
  
  The data gathered from the survey played a crucial role in refining our project strategy to align more effectively with the preferences of the public. It also aided in integrating these insights into the project's design. Furthermore, it provided us with a broader perspective on how this project could be applied and helped us identify specific use cases and, subsequently, the potential market size. As a follow-up, we initiated a campaign within the IITD campus aimed at raising awareness. This campaign involved the placement of posters in common areas to sensitise people to the issue of lead poisoning.
  </p><br>


<h2>Results</h2>
  <div>
    <img src="https://static.igem.wiki/teams/4898/wiki/india-img.png" width="80%" class="imgcenter"><br>
  
  
  </div>

{% endblock %}


